.account-rewards-details-component {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin-top: 8.4rem;
  
  @media screen and(max-width: $xs-tablet) {
    margin-bottom: 5.2rem;
    margin-top: 0;
  }

  .bg-helper {
    @media screen and(max-width: $xs-tablet) {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: -4rem;
      z-index: -1;
      height: 11rem;
      background-color: $green1300;
      clip-path: polygon(0% 0%, 100% 0%, 100% 92.92929292929293%, 99.36640000000001% 92.74343434343434%, 98.84586666666667% 92.60000000000001%, 98.00186666666667% 92.37878787878788%, 97.0544% 92.14545454545456%, 95.8176% 91.86060606060606%, 94.95360000000001% 91.67373737373737%, 93.7752% 91.43434343434343%, 92.83013333333334% 91.25454545454545%, 91.98746666666666% 91.1030303030303%, 90.78506666666667% 90.9010101010101%, 89.22933333333334% 90.66363636363637%, 88.09706666666666% 90.50707070707071%, 86.84533333333334% 90.35050505050505%, 85.2328% 90.17474747474748%, 83.90719999999999% 90.05151515151515%, 82.636% 89.95050505050504%, 81.38266666666667% 89.86969696969697%, 80.3976% 89.81818181818181%, 78.4272% 89.74848484848485%, 76.97600000000001% 89.72525252525253%, 75.52533333333335% 89.72525252525253%, 74.30693333333333% 89.74545454545454%, 73.34026666666666% 89.77474747474747%, 72.4448% 89.81212121212121%, 71.76400000000001% 89.84747474747475%, 70.93333333333334% 89.8989898989899%, 70.17066666666666% 89.95454545454547%, 69.24533333333333% 90.03434343434343%, 67.8504% 90.17878787878789%, 66.83173333333333% 90.30101010101009%, 65.6096% 90.46464646464646%, 64.30053333333333% 90.65757575757576%, 62.52720000000001% 90.94646464646465%, 61.159200000000006% 91.18787878787879%, 59.88106666666667% 91.42626262626263%, 58.340799999999994% 91.72929292929292%, 56.944266666666664% 92.01313131313131%, 55.54613333333334% 92.30505050505052%, 54.31946666666667% 92.56666666666668%, 53.0728% 92.83636363636364%, 51.913333333333334% 93.08888888888889%, 50.544533333333334% 93.39191919191919%, 49.378400000000006% 93.64747474747475%, 48.132000000000005% 93.91919191919193%, 46.97066666666666% 94.16969696969696%, 45.891466666666666% 94.4%, 44.9024% 94.60808080808081%, 43.88613333333334% 94.81818181818183%, 42.813066666666664% 95.03434343434344%, 42.141333333333336% 95.16666666666667%, 40.91866666666667% 95.39999999999999%, 40.160000000000004% 95.54040404040404%, 39.169599999999996% 95.71717171717172%, 37.8384% 95.94141414141414%, 36.836% 96.1%, 35.64% 96.27575757575758%, 33.986666666666665% 96.49292929292929%, 32.47226666666666% 96.66161616161617%, 30.875733333333333% 96.8040404040404%, 28.9824% 96.92121212121212%, 27.413333333333334% 96.96969696969697%, 26.666666666666668% 96.96969696969697%, 25.637333333333334% 96.96363636363637%, 24.619466666666664% 96.94444444444444%, 23.543200000000002% 96.9111111111111%, 22.526133333333334% 96.86767676767677%, 21.712533333333333% 96.82424242424243%, 20.811466666666668% 96.76767676767678%, 19.765333333333334% 96.68989898989899%, 18.572% 96.58888888888889%, 17.146666666666665% 96.44545454545454%, 16.126133333333335% 96.32929292929293%, 14.933333333333335% 96.17575757575757%, 13.395199999999999% 95.95959595959596%, 12.085066666666668% 95.75757575757575%, 10.459999999999999% 95.47878787878788%, 8.917066666666667% 95.18787878787879%, 7.380533333333333% 94.87171717171718%, 5.7784% 94.51313131313131%, 4.352% 94.16868686868686%, 3.3410666666666664% 93.9090909090909%, 2.2626666666666666% 93.61616161616162%, 1.2376% 93.32020202020203%, 0% 92.92929292929293%, 0% 0%);
    }
  }

  .title {
    font-weight: bold;
    margin-bottom: 2rem;
    
    @media screen and(max-width: $xs-tablet) {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }

  .rewards-image {
    max-width: 13.3rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: 2.6rem;
    font-family: $primaryType;
    font-weight: 500;
    line-height: 1;
    color: $black;
    margin-bottom: 1.3rem;

    @media screen and(max-width: $xs-tablet) {
      max-width: 19rem;
      margin: 0 auto;
      margin-bottom: 1.5rem;
    }
  }

  .rank-image {
    margin-bottom: 1.24rem;
    max-width: 2rem;
    margin: 0 auto;

    @media screen and(max-width: $xs-tablet) {
      margin-bottom: 1.74rem;
    }
  }

  .celebrate-date {
    max-width: 21.2rem;
    margin: 0 auto;
    color: $black;
    margin-bottom: .5rem;
  }

  .expiration-date {
    font-size: 1.2rem;
    font-family: $primaryType;
    font-weight: 500;
    line-height: 1.67;
    color: $black;
  }
  
  .qr-image {
    max-width: 11.6rem;
    margin: 2.4rem auto;
  }

  .legal-text {
    max-width: 62rem;
    margin: 0 auto;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 2.5rem;

    @media screen and(max-width: $xs-tablet) {
      max-width: 31.5rem;
      margin-bottom: 2.8rem;
    }
  }

  .primary-button {
    max-width: 25.8rem;
    margin: 0 auto;
    padding: 1.04rem 3.4rem;

    @media screen and(max-width: $xs-tablet) {
      display: none;
    }
  }
  
  .triangle-link {
    display: none !important;
    font-size: 1.8rem;
    color: $green300;
    font-weight: 500;
    line-height: 0.78;

    &:after {
      margin-left: .6rem;
      background-image: url("../img/triangle-green.svg");
    }

    @media screen and(max-width: $xs-tablet) {
      display: inline-block !important;
    }
  }
}

.ie {
  .account-rewards-details-component {
    .rewards-image,
    .rank-image,
    .celebrate-date,
    .qr-image,
    .legal-text,
    .primary-button {
      width: 100%;
    }
  }
}