.fluid-card-set-component {
  margin-top: 8.2rem;

  @media screen and (max-width: $xs-tablet) {
    margin-top: 0;
  }

  .fluid-card-row {
    position: relative;
    padding-bottom: 3.6rem;

    @media screen and (max-width: $xs-tablet) {
      padding-top: 0;
      padding-bottom: 14rem;
    }
    
    &:last-of-type {
      padding-bottom: 1rem;
      
      @media screen and (max-width: $xs-tablet) {
        padding-bottom: 5rem;
      }
    }

    .bg-helper,
    &:after,
    &:before {
      background-color: $beige600;
    }

    .bg-helper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;

      @media screen and (min-width: $small-tablet) {
        clip-path: polygon(100% 1.654501216545012%, 100% 92.55474452554745%, 80.39973351099268% 96.59367396593674%, 79.68021319120587% 96.69099756690997%, 77.45502998001332% 96.93430656934306%, 76.32245169886743% 96.93430656934306%, 73.87075283144571% 97.71289537712894%, 73.40439706862092% 97.71289537712894%, 72.24516988674216% 97.5669099756691%, 71.12591605596269% 97.51824817518249%, 70.32644903397734% 97.76155717761557%, 69.19387075283144% 98.58880778588808%, 67.91472351765489% 98.3941605839416%, 64.30379746835443% 98.63746958637469%, 57.93471019320453% 99.31873479318735%, 54.40373084610259% 99.07542579075425%, 53.071285809460356% 99.85401459854015%, 51.8454363757495% 99.31873479318735%, 50.766155896069286% 99.31873479318735%, 46.66222518321119% 98.63746958637469%, 43.54430379746835% 98.34549878345499%, 42.6782145236509% 98.10218978102189%, 41.798800799467024% 98.19951338199513%, 41.025982678214525% 97.66423357664233%, 39.66688874083944% 97.61557177615572%, 38.37441705529647% 96.7396593673966%, 35.802798134576946% 96.88564476885645%, 33.87075283144571% 95.57177615571776%, 30.406395736175885% 95.76642335766424%, 27.98134576948701% 94.54987834549878%, 26.888740839440374% 94.30656934306569%, 24.65023317788141% 94.79318734793188%, 22.171885409726848% 95.76642335766424%, 20.83944037308461% 95.23114355231144%, 18.067954696868753% 94.8905109489051%, 16.522318454363756% 94.8905109489051%, 14.030646235842772% 95.03649635036496%, 12.245169886742172% 95.03649635036496%, 11.00599600266489% 94.98783454987834%, 6.049300466355763% 94.79318734793188%, 0% 94.54987834549878%, 0% 7.201946472019465%, 9.393737508327781% 4.671532846715328%, 11.765489673550967% 4.37956204379562%, 13.884077281812127% 3.5036496350364965%, 15.09660226515656% 3.309002433090024%, 17.574950033311126% 3.017031630170316%, 18.854097268487674% 2.579075425790754%, 20.06662225183211% 1.8004866180048662%, 20.479680213191205% 1.9464720194647203%, 22.211858760826118% 2.18978102189781%, 24.2238507661559% 1.313868613138686%, 24.81012658227848% 1.313868613138686%, 26.18254497001999% 1.119221411192214%, 27.661558960692872% 1.2652068126520681%, 28.83411059293804% 0.38929440389294406%, 29.753497668221186% 0.145985401459854%, 30.926049300466357% 0.24330900243309003%, 32.24516988674217% 0.43795620437956206%, 56.80213191205863% 0.43795620437956206%, 60.63957361758827% 1.0218978102189782%, 61.505662891405734% 0.9732360097323601%, 62.718187874750164% 1.313868613138686%, 64.30379746835443% 1.313868613138686%, 68.83411059293803% 2.67639902676399%, 70.44636908727514% 2.67639902676399%, 72.53830779480347% 3.454987834549878%, 73.65756162558294% 3.309002433090024%, 74.69686875416389% 3.309002433090024%, 76.5489673550966% 4.184914841849149%, 77.54830113257827% 4.330900243309002%, 80.50632911392405% 4.330900243309002%, 84.79680213191206% 5.012165450121654%, 86.43570952698201% 5.547445255474453%, 88.02131912058627% 5.693430656934306%, 88.84743504330447% 5.742092457420925%, 89.84676882078614% 5.59610705596107%, 93.08461025982679% 4.574209245742092%, 93.97734843437708% 4.37956204379562%, 100% 1.654501216545012%);
      }
    }

    & + .fluid-card-row {
      margin-top: -8rem;

      .bg-helper {
        @media screen and (min-width: $small-tablet) {
          clip-path: polygon(100% 0.21331058020477817%, 100.02664535038636% 92.27815699658703%, 96.78923527844391% 93.00341296928327%, 94.39115374367174% 93.68600682593856%, 88.98214761524113% 94.88054607508532%, 84.1060484945377% 95.90443686006826%, 82.44071409539035% 96.160409556314%, 80.49560351718625% 96.41638225255973%, 79.41646682653877% 96.58703071672356%, 75.63282707167599% 97.86689419795222%, 73.68771649347188% 97.90955631399318%, 74.19397815081268% 97.65358361774744%, 72.28883559818811% 97.6962457337884%, 71.51612043698374% 97.82423208191126%, 70.25046629363176% 98.37883959044369%, 69.46442845723422% 98.50682593856655%, 67.85238475885957% 98.72013651877133%, 62.32347455369038% 99.23208191126281%, 60.37836397548628% 99.36006825938567%, 57.84705568878231% 99.48805460750853%, 50.22648547828405% 99.87201365187714%, 45.73674393818279% 99.36006825938567%, 33.77298161470823% 97.18430034129693%, 24.34052757793765% 95.4778156996587%, 18.758326671995736% 94.49658703071673%, 16.466826538768984% 94.41126279863481%, 12.416733280042633% 94.11262798634812%, 11.257660538236077% 94.02730375426621%, 9.392486011191046% 94.15529010238907%, 8.02025046629363% 94.45392491467577%, 6.101785238475886% 94.83788395904436%, 0% 97.05631399317406%, 0% 2.218430034129693%, 15.42765787370104% 2.474402730375427%, 20.436983746336264% 2.7303754266211606%, 21.542765787370104% 2.8156996587030716%, 22.275512922994935% 3.455631399317406%, 23.92752464694911% 2.5597269624573378%, 25.09992006394884% 2.1757679180887375%, 26.818545163868908% 1.9624573378839592%, 28.577138289368502% 2.04778156996587%, 29.98934185984546% 2.474402730375427%, 31.70796695976552% 3.4129692832764507%, 33.28004263256062% 2.6877133105802047%, 34.13269384492406% 2.858361774744027%, 36.077804423128164% 4.010238907849829%, 37.91633359978684% 4.010238907849829%, 41.10045297095657% 4.863481228668942%, 43.018918198774315% 4.863481228668942%, 44.284572342126296% 5.2047781569965865%, 45.45696775912603% 5.1194539249146755%, 46.77591260325074% 6.0580204778157%, 48.48121502797762% 6.4419795221843%, 52.35811350919265% 6.356655290102389%, 55.82200905941913% 6.356655290102389%, 58.12683186783906% 6.100682593856655%, 59.79216626698641% 6.313993174061433%, 61.16440181188383% 5.7593856655290105%, 62.123634425792694% 5.588737201365188%, 63.256061817212895% 5.503412969283277%, 65.25446309618972% 5.460750853242321%, 67.585931254996% 5.503412969283277%, 68.57180921929124% 4.906143344709898%, 69.95736743938183% 5.07679180887372%, 72.35544897415402% 4.863481228668942%, 74.68691713296029% 4.607508532423208%, 75.64614974686917% 4.436860068259386%, 77.08499866773249% 4.223549488054608%, 100% 0.21331058020477817%);
        }
      }
    }
    
    & + .fluid-card-row + .fluid-card-row {
      .bg-helper {
        @media screen and (min-width: $small-tablet) {
          clip-path: polygon(99.50692963752665% 0.13100436681222707%, 100% 0.21834061135371177%, 99.93336886993603% 94.8471615720524%, 95.60234541577826% 96.63755458515284%, 92.5639658848614% 97.68558951965065%, 91.49786780383795% 97.90393013100437%, 90.43176972281451% 98.16593886462883%, 88.57942430703625% 98.51528384279476%, 87.77985074626866% 98.47161572052401%, 86.96695095948827% 98.42794759825327%, 85.3411513859275% 97.90393013100437%, 83.71535181236673% 97.90393013100437%, 81.0501066098081% 97.33624454148472%, 78.19829424307036% 97.24890829694323%, 77.38539445628999% 97.24890829694323%, 76.42590618336888% 97.07423580786026%, 74.72014925373134% 96.33187772925764%, 71.74840085287848% 96.46288209606986%, 70.54904051172709% 95.76419213973799%, 68.9232409381663% 95.76419213973799%, 67.4040511727079% 95.10917030567686%, 66.48454157782517% 95.06550218340611%, 65.56503198294243% 94.97816593886463%, 64.39232409381663% 94.54148471615721%, 62.81982942430704% 94.54148471615721%, 61.79371002132196% 94.23580786026201%, 60.820895522388064% 94.32314410480349%, 60.48773987206823% 93.93013100436681%, 59.98134328358209% 93.75545851528383%, 39.97867803837953% 93.7991266375546%, 33.035714285714285% 93.7991266375546%, 30.850213219616208% 93.58078602620087%, 29.384328358208954% 93.58078602620087%, 27.85181236673774% 94.49781659388647%, 26.385927505330493% 94.36681222707423%, 24.933368869936036% 94.54148471615721%, 24.33368869936034% 94.54148471615721%, 22.441364605543708% 95.32751091703057%, 20.68230277185501% 95.1528384279476%, 20.1226012793177% 95.02183406113537%, 18.53678038379531% 95.85152838427948%, 17.32409381663113% 96.15720524017468%, 15.391791044776118% 96.33187772925764%, 14.085820895522389% 96.50655021834062%, 11.966950959488273% 97.29257641921397%, 9.208422174840084% 97.64192139737992%, 0% 99.86899563318778%, 0% 5.021834061135371%, 4.1711087420042645% 3.4934497816593884%, 7.156183368869937% 2.532751091703057%, 8.155650319829425% 2.3580786026200875%, 9.541577825159916% 2.052401746724891%, 10.887526652452026% 1.8777292576419216%, 14.35234541577825% 2.1397379912663754%, 17.48400852878465% 2.3580786026200875%, 18.949893390191896% 2.445414847161572%, 25.186567164179102% 3.5371179039301306%, 35.02132196162047% 5.37117903930131%, 40.56503198294243% 6.419213973799126%, 44.016524520255864% 7.074235807860261%, 45.868869936034116% 7.423580786026202%, 46.61513859275053% 7.467248908296943%, 50.18656716417911% 7.903930131004366%, 57.635927505330486% 7.554585152838428%, 61.46055437100213% 7.292576419213974%, 62.75319829424307% 7.248908296943231%, 67.44402985074626% 6.812227074235808%, 69.05650319829424% 6.593886462882097%, 70.25586353944563% 6.419213973799126%, 71.40191897654584% 5.895196506550218%, 72.21481876332622% 5.720524017467249%, 72.92110874200426% 5.807860262008734%, 73.76066098081023% 5.982532751091703%, 75.79957356076758% 5.807860262008734%, 76.9456289978678% 5.545851528384279%, 79.42430703624733% 4.585152838427948%, 80.41044776119402% 4.45414847161572%, 85.72761194029852% 3.5371179039301306%, 87.04690831556503% 3.2314410480349345%, 88.56609808102345% 2.8820960698689957%, 90.64498933901919% 2.4017467248908297%, 93.65671641791045% 1.703056768558952%, 94.53624733475479% 1.572052401746725%, 97.92110874200426% 0.5240174672489083%);
        }
      }
    }

  .primary-button {
    &:focus {
      box-shadow: inset 0 0 0 3px $beige600, 0 0 0 3px $green300;
    }
  }
    
    // Themes and Alignment
    &.mint-theme {
      .bg-helper,
      &:after,
      &:before {
        background-color: $green1000;
      }
      .primary-button {
        &:focus {
          box-shadow: inset 0 0 0 3px $green1000, 0 0 0 3px $green300;
        }
      }
    }

    &.caper-green-theme {
      .bg-helper,
      &:after,
      &:before {
        background-color: $green850;
      }
      .primary-button {
        &:focus {
          box-shadow: inset 0 0 0 3px $green850, 0 0 0 3px $green300;
        }
      }
    }



    &.mandarin-theme {
      .bg-helper,
      &:after,
      &:before {
        background-color: $mandarin700;
      }
      .primary-button {
        &:focus {
          box-shadow: inset 0 0 0 3px $mandarin700, 0 0 0 3px $green300;
        }
      }
    }
    
    &.gold-theme {
      .bg-helper,
      &:after,
      &:before {
        background-color: $gold600;
      }
      .primary-button {
        &:focus {
          box-shadow: inset 0 0 0 3px $gold600, 0 0 0 3px $green300;
        }
      }
    }

    &.blue-theme {
      .bg-helper,
      &:after,
      &:before {
        background-color: $blue600;
      }
      .primary-button {
        &:focus {
          box-shadow: inset 0 0 0 3px $blue600, 0 0 0 3px $green300;
        }
      }
    }

    &.right {
      overflow-x: hidden;
      @media screen and (max-width: $xs-tablet) {
        overflow-x: visible;
      }
      .fcs-container {
        flex-direction: row-reverse;

        @media screen and (max-width: $xs-tablet) {
          flex-direction: column;
        }

        .card-img {
          justify-content: flex-end;
          margin-left: 0;
          margin-right: 10%;

          @media screen and (max-width: $xs-tablet) {
            justify-content: flex-start;
            margin-right: 0;
          }
        }

        .card-content {
          text-align: left;
          transform: translateX(30%);
          width: 40%;

          @media screen and (max-width: 1400px) {
            transform: translateX(10%);
          }

          @media screen and (max-width:$xs-tablet) {
            text-align: left;
            transform: none;
            width: 100%;
          }

          .btn-wrapper {
            padding-bottom: 2rem;
            
            @media screen and (max-width: $xs-tablet) {
              padding-bottom: 0;
              justify-content: flex-start;
            }
          }
        }
      }
    }
    //End Themes and Alignment

    .fcs-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      z-index: 2;

      @media screen and (max-width: $xs-tablet) {
        flex-direction: column;
        padding-left: 3rem;
        padding-right: 3rem;
      }

      .card-img {
        width: 40%;
        align-items: center;
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
        min-height: 42rem;

        @media screen and (max-width: $xs-tablet) {
          width: 100%;
          margin-left: 0;
          min-height: 0;
        }

        img {
          max-width: 100%;
          @media screen and (max-width: $xs-tablet) {
            display: block;
            margin: 0 auto;
          }
        }
      }

      .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 4rem;
        width: 50%;

        @media screen and (min-width: $xs-tablet) and (max-width: $sml-desktop) {
          padding: 4rem 0;
        }

        @media screen and (max-width: $xs-tablet) {
          width: 100%;
          padding: 2rem 0;
        }

        .title {
          margin-bottom: 1rem;
          font-size: 5.2rem;
          line-height: 5.2rem;

          @media screen and (max-width: $xs-tablet) {
            margin-bottom: 2rem;
          }

          .script-text {
            display: block;
            font-family: $secondaryType;
            font-size: 4rem;
            color: $green300;
            margin-right: 0.23em;
            @media screen and (max-width: $xs-tablet) {
              font-size: 3.4rem;
              line-height: 4rem;
            }
          }

          .h2-like {
            @media screen and (max-width: $xs-tablet) {
              display: block;
              line-height: 4rem;
              font-size: 3rem;
            }
          }
        }

        p {
          margin-bottom: 0;
          color: $black;
          max-width: 44rem;

          @media screen and (max-width: $xs-tablet) {
            margin-bottom: 3.1rem;
            font-size: 1.7rem;
            max-width: none;
          }

          & + .btn-wrapper {
            margin-top: 3.5rem;
            @media screen and (max-width: $xs-tablet) {
              margin-top: 0;
            }
          }
        }

        .btn-wrapper {
          justify-content: flex-start;
          display: flex;

          @media screen and (max-width: $xs-tablet) {
            margin-top: 0;
            flex-direction: column;
          }
          a {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &:after {
              content: none;
            }

            @media screen and (max-width: $xs-tablet) {
              text-align: center;
              justify-content: center;
              padding: 1.9rem 3.4rem;
            }

            & + a {
              margin-left: 3rem;

              @media screen and (min-width: $sml-desktop) and (max-width: 910px) {
                margin-left: 0.5rem;
              }

              @media screen and (max-width: $sml-desktop) {
                margin-left: 1rem;
              }

              @media screen and (max-width: $xs-tablet) {
                margin-left: 0;
                margin-top: 3rem;
              }
              .ie &,
              .edge & {
                span + span{
                  margin-left: .5rem;
                }
              }
            }

            &.fcs-third-party {
              .fcs-third-party-icon {
                position: relative;
                display: inline;
                right: auto;
                top: auto;
                margin-left: 1rem;
                
                .ie & {
                  top: 20%;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $xs-tablet) {
    .fluid-card-row:last-child {
      margin-bottom: calc(3rem + 4.53vw);
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 4.53vw;
        position: absolute;
        bottom: 0;
        transform: translateY(100%) translateY(-2px);
        left: 0;
        z-index: 2;
        clip-path: polygon(0% 0%, 100% 0%, 100% 17.647058823529413%, 74.66666666666667% 64.70588235294117%, 62.133333333333326% 88.23529411764706%, 52.53333333333333% 100%, 32% 100%, 24% 94.11764705882352%, 10.933333333333334% 82.35294117647058%, 0% 70.58823529411765%, 0% 0%);
      }
    }

    .fluid-card-row:first-child {
      margin-top: calc(6rem + 4.53vw);
      padding-top: 0;
      .fcs-container {
        transform: translateY(-11rem);
        margin-bottom: -11rem;
      }

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 4.53vw;
        position: absolute;
        top: 0;
        transform: translateY(-100%) translateY(2px);
        z-index: 2;
        left: 0;
        clip-path: polygon(0% 100%, 100% 100%, 100% 82.35294117647058%, 74.66666666666667% 35.294117647058826%, 62.133333333333326% 11.76470588235294%, 52.53333333333333% 0%, 32% 0%, 24% 5.88235294117647%, 10.933333333333334% 17.647058823529413%, 0% 29.411764705882355%, 0% 100%)
      }
    }
  }

  .card-wrapper {
    .product-details {
      font-size: 0;
      margin-bottom: 1rem;

      span {
        font-size: 1.3rem;
        line-height: 1;
        font-weight: 500;
        font-family: $primaryType;
        color: $black;
        
        & + span {
          &:before {
            content: "";
            border-right: 2px solid $gold500;
            margin: 0 .9rem;
          }
        }
      }
    }

    .btn-wrapper {
      margin-top: 2rem !important;
      align-items: center;
      
      @media screen and (max-width: $xs-tablet) {
        flex-direction: column;
      }

      a {
        font-size: 1.8rem;

        @media screen and (max-width: $xs-tablet) {
          padding: 0;
        }

        & + a {
          @media screen and (max-width: $xs-tablet) {
            margin-top: 0 !important;
          }
        }
      }

      .primary-button {
        @media screen and (max-width: $xs-tablet) {
          width: 100%;
          max-width: 31.5rem;
        }
      }
    }
  }

  .unavailable-text {
    font-size: 1.6rem;
    font-family: $primaryType;
    color: $black;
    display: flex;
    align-items: center;
    font-weight: 700;
    width: 100%;
  }
}

.ie {
  .fluid-card-set-component {
    .fluid-card-row {
      .fcs-container {
        .card-content {
          padding-left: 10rem;
        }
      }
    }
  }
}
