.location-finder-component {
  p {
    margin: 0;
  }
  .app-header {
    position: relative;
  
    @media screen and (max-width: $xs-tablet){
      overflow: hidden;
    }

    .bg-helper {
      background-color: $green1300;
      clip-path: polygon(0% 0%, 100% 0%, 100% 98.8%, 99.7079% 98.6159%, 99.4534% 98.476%, 99.0069% 98.256%, 98.5973% 98.0748%, 98.2579% 97.9374%, 97.9937% 97.8374%, 97.4415% 97.6452%, 97.098% 97.5362%, 96.7621% 97.4362%, 96.44% 97.3472%, 96.0208% 97.2384%, 95.5924% 97.1366%, 95.0187% 97.0136%, 94.4965% 96.9136%, 94.0806% 96.8416%, 93.7677% 96.7916%, 93.4596% 96.746%, 93.0069% 96.6848%, 92.7183% 96.6494%, 92.1766% 96.5894%, 91.8025% 96.5535%, 91.4659% 96.525%, 90.9944% 96.49%, 90.5132% 96.4607%, 90.2002% 96.445%, 89.9228% 96.433%, 89.5132% 96.419%, 89.1515% 96.4098%, 88.7538% 96.4033%, 88.3984% 96.4008%, 88.2475% 96.4008%, 87.831% 96.4058%, 87.4339% 96.4196%, 86.9339% 96.449%, 86.5187% 96.4826%, 86.0549% 96.5296%, 85.6147% 96.5828%, 85.2997% 96.6256%, 84.9332% 96.6802%, 84.4993% 96.7505%, 84.066% 96.827%, 83.639% 96.907%, 83.1842% 96.9982%, 82.7823% 97.0826%, 82.3532% 97.1764%, 82.1133% 97.2302%, 81.6008% 97.3484%, 81.0278% 97.4847%, 80.4325% 97.63%, 79.9381% 97.7526%, 79.4937% 97.8638%, 79.0542% 97.974%, 78.4109% 98.1354%, 77.9617% 98.2476%, 77.5493% 98.3498%, 77.1529% 98.447%, 76.6648% 98.565%, 76.114% 98.6952%, 75.771% 98.7752%, 75.4812% 98.8412%, 75.1237% 98.9212%, 74.806% 98.9904%, 74.5083% 99.054%, 74.1703% 99.1242%, 73.8636% 99.1862%, 73.5417% 99.2495%, 73.13% 99.3274%, 72.7468% 99.397%, 72.3428% 99.4668%, 71.8143% 99.5527%, 71.4262% 99.6128%, 70.9492% 99.6806%, 70.6411% 99.7206%, 70.2837% 99.7649%, 69.8101% 99.8184%, 69.3677% 99.8631%, 68.7482% 99.9168%, 68.0684% 99.9632%, 67.5844% 99.9884%, 67.2461% 100%, 66.0943% 100.0022%, 65.3294% 99.9652%, 64.806% 99.9251%, 64.348% 99.8802%, 63.809% 99.8168%, 63.2363% 99.7386%, 62.462% 99.617%, 61.5133% 99.4478%, 60.76098% 99.3009%, 60.1582% 99.1776%, 59.6362% 99.0677%, 59.0451% 98.941%, 58.4926% 98.821%, 57.9632% 98.7066%, 57.6022% 98.629%, 56.9751% 98.4962%, 56.3605% 98.3696%, 55.9542% 98.2896%, 55.4187% 98.1866%, 54.6443% 98.0476%, 53.912% 97.9288%, 53.4107% 97.8558%, 52.8196% 97.7796%, 52.2833% 97.7208%, 51.7543% 97.673%, 51.41926% 97.6484%, 51.0582% 97.6274%, 50.66112% 97.6108%, 50.24749% 97.6012%, 49.7221% 97.6012%, 49.3134% 97.6082%, 48.1248% 97.6454%, 47.82503% 97.6586%, 46.61849% 97.7258%, 45.8251% 97.7816%, 45.2966% 97.8232%, 44.839% 97.8622%, 44.522% 97.8905%, 43.79033% 97.9604%, 42.74332% 98.0694%, 42.0031% 98.1524%, 41.0942% 98.2598%, 40.4525% 98.3388%, 39.7844% 98.4234%, 38.9742% 98.5283%, 38.4013% 98.6039%, 37.4936% 98.724%, 36.93831% 98.7984%, 36.3662% 98.8748%, 35.59082% 98.978%, 34.992% 99.0564%, 34.2876% 99.1474%, 33.2395% 99.278%, 32.042% 99.4179%, 31.02072% 99.5275%, 30.0693% 99.6191%, 29.05695% 99.7038%, 28.1582% 99.7658%, 27.5382% 99.8001%, 26.73101% 99.8224%, 25.8589% 99.8078%, 25.392% 99.7847%, 24.78407% 99.74%, 23.9726% 99.6558%, 23.0228% 99.5249%, 21.6936% 99.291%, 20.29248% 98.991%, 18.354% 98.511%, 17.34165% 98.2402%, 16.24228% 97.9402%, 15.5992% 97.765%, 14.48282% 97.4676%, 12.7456% 97.0476%, 11.44242% 96.7958%, 10.09408% 96.6314%, 9.24895% 96.6%, 8.43776% 96.6186%, 7.5032% 96.675%, 7.10806% 96.7106%, 6.5251% 96.7766%, 5.52204% 96.9294%, 4.46328% 97.1494%, 3.56293% 97.3883%, 1.40674% 98.198%, 0% 99%, 0% 0%);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 0;
      position: absolute;

      @media screen and (max-width: $xs-tablet) {
        clip-path: none;
        bottom: 4.53vw;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: $green1300;
          right: 0;
          height: 4.53vw;
          clip-path: polygon(0% 0%, 100% 0%, 100% 17.64706%, 74.66667% 64.70588%, 62.13333% 88.23529%, 52.53333% 100%, 32% 100%, 24% 94.11765%, 10.93333% 82.35294%, 0% 70.58824%, 0% 0%);
        }
      }
    }
  }
  
  .app-body {
    max-width: $mid-desktop;
    padding: 4rem 0 0 0;
    margin: 0 auto;
    display: flex;

    @media screen and (max-width: $sml-desktop) {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }

    .result-list-wrapper {
      display: flex;
      flex-direction: column;
      max-width: 59.5rem;
      width: 100%;
    }
  }

  .result-list,
  .cpt-hero-content {
    padding: 0;
    max-width: 59.5rem;
    max-height: 85.3rem;
    position: relative;
    max-height: 85.3rem;
    float: left;
    width: 100%;
    height: 100%;
    
    @media (max-width: $sml-desktop) {
      width: 100%;
      order: 2;
      height: 70rem;
      overflow: hidden; 
    }
    
    .info-heading {
      font-size: 2.4rem;
    }

    .jjScrollbar,
    .Scrollbar {
      border-radius: 500px;
      width: 0.4rem !important;
      cursor: pointer;
      background-color: $green300 !important;
    }

    .no-results {
        padding-top: 1.5rem;
      
        .title {
            display: block;
            padding-left: 5rem;
            padding-right: 1.5rem;
            font-family: $primaryType;
            font-size: 1.5rem;
        }

        .no-results-footer {
          display: none;
        }
      
        img {
            display: block;
            margin: 0 auto;
            padding-top: 6rem;
        }

        .subtitle {
            font-family: $primaryType;
            font-family: 1.6rem;
            font-size: 3rem;
            font-weight: 500;
            text-align: center;
            display: block;
            padding-top: 3rem;
        }
    }
    
    &.default {
      padding: 7.5rem 0;
      height: auto;

      @media screen and (max-width: $xs-tablet) {
        padding: 0 0 4.53vw;
      }
    }

    .initial-title {
        display: inline-flex;
        color: $black;
        padding: 7.5rem 2.5rem 0 7.5rem;
        background-position: top left;
        background: $green1200;
        clip-path: polygon(0% 8.267716%, 1.8460504% 8.086220%, 3.9680672% 7.87992%, 6.920672% 7.596062%, 10.519327% 7.253937%, 13.30605% 6.991732%, 16.255294% 6.7161417%, 19.669747% 6.401181%, 22.640840% 6.1299212%, 24.855630% 5.929527%, 27.72016% 5.672440%, 30.581176% 5.418503%, 33.719327% 5.1429133%, 36.231764% 4.925196%, 38.53915% 4.728346%, 41.031260% 4.516929%, 43.33899% 4.323228%, 45.0927% 4.1775590%, 46.846722% 4.033464%, 49.998319% 3.7779527%, 52.94117% 3.543307%, 55.2635% 3.362204%, 58.40638% 3.1224409%, 61.17949% 2.9153543%, 63.86857% 2.718503%, 66.17109% 2.5527559%, 68.01680% 2.4216535%, 70.51008% 2.2476377%, 71.89798% 2.1519685%, 73.84252% 2.019291%, 75.59193% 1.9011811%, 77.62890% 1.765748%, 79.29378% 1.6562992%, 80.95865% 1.5480314%, 83.17512% 1.405511%, 85.38672% 1.2653543%, 87.70067% 1.1208661%, 89.54621% 1.0070866%, 91.6778% 0.8775590%, 93.34033% 0.7779527%, 94.72588% 0.6960629%, 96.66554% 0.5826771%, 98.23596% 0.49251968%, 100% 0.39370078%, 100% 100%, 0% 100%, 0% 8.267716%);
        h1, h2, h3, h4, h5, h6 {
          line-height: 1;
          font-family: 1.6rem;
          font-weight: 500;
          font-size: 5.2rem;

          @media screen and (max-width: $xs-tablet) {
            font-size: 4rem;
          }
        }

        @media screen and (max-width: $xs-tablet) {
          background-color: $green1200;
          padding: 4.7rem 3.2rem 2rem;
          clip-path: none;
        }

        .script-text {
          display: block;
          font-family: $secondaryType;
          color: $green300;
          font-size: 4.6rem;
          text-transform: uppercase;
          @media screen and (max-width: $xs-tablet) {
            font-size: 2.94rem;
          }
        }
    }

    .hero-title {
      display: flex;
      flex-direction: column;
      color: $black;
      padding: 7.5rem 2.5rem 0 7.5rem;
      background-position: top left;
      background: $green1200;
      clip-path: polygon(0% 8.267716%, 1.8460504% 8.086220%, 3.9680672% 7.87992%, 6.920672% 7.596062%, 10.519327% 7.253937%, 13.30605% 6.991732%, 16.255294% 6.7161417%, 19.669747% 6.401181%, 22.640840% 6.1299212%, 24.855630% 5.929527%, 27.72016% 5.672440%, 30.581176% 5.418503%, 33.719327% 5.1429133%, 36.231764% 4.925196%, 38.53915% 4.728346%, 41.031260% 4.516929%, 43.33899% 4.323228%, 45.0927% 4.1775590%, 46.846722% 4.033464%, 49.998319% 3.7779527%, 52.94117% 3.543307%, 55.2635% 3.362204%, 58.40638% 3.1224409%, 61.17949% 2.9153543%, 63.86857% 2.718503%, 66.17109% 2.5527559%, 68.01680% 2.4216535%, 70.51008% 2.2476377%, 71.89798% 2.1519685%, 73.84252% 2.019291%, 75.59193% 1.9011811%, 77.62890% 1.765748%, 79.29378% 1.6562992%, 80.95865% 1.5480314%, 83.17512% 1.405511%, 85.38672% 1.2653543%, 87.70067% 1.1208661%, 89.54621% 1.0070866%, 91.6778% 0.8775590%, 93.34033% 0.7779527%, 94.72588% 0.6960629%, 96.66554% 0.5826771%, 98.23596% 0.49251968%, 100% 0.39370078%, 100% 100%, 0% 100%, 0% 8.267716%);
      line-height: .82;
      font-family: 1.6rem;
      font-weight: 500;
      font-size: 5.2rem;
      margin-bottom: 0;
      
      @media screen and (max-width: $xs-tablet) {
        font-size: 4rem;
        background-color: $green1200;
        padding: 4.7rem 3.2rem 2rem;
        clip-path: none;
      }

      .alt-font {
        display: block;
        font-family: $secondaryType;
        color: $green300;
        font-size: 4.6rem;
        text-transform: uppercase;

        @media screen and (max-width: $xs-tablet) {
          font-size: 2.94rem;
        }
      }
    }

    .copy,
    .description {
        padding: 0 7.5rem 7.5rem 7.5rem;
        background-position: bottom left;
        position: relative;
        background-color: $green1200;
        clip-path: polygon(0% 0%, 100% 0%, 100% 98.525%, 97.83% 98.314%, 96.224% 98.169%, 93.852% 97.969%, 90.91% 97.741%, 87.498% 97.499%, 85.607% 97.376%, 83.331% 97.238%, 81.915% 97.158%, 80.11% 97.062%, 76.804% 96.903%, 73.011% 96.749%, 70.171% 96.655%, 67.800% 96.589%, 64.207% 96.515%, 61.268% 96.4%, 58.6554% 96.460%, 57.007% 96.45%, 54.734% 96.461%, 52.557% 96.472%, 50.377% 96.490%, 48.008% 96.517%, 45.453% 96.554%, 43.371% 96.59%, 40.5307% 96.6%, 37.690% 96.712%, 35.228% 96.774%, 32.7645% 96.843%, 31.416% 96.88%, 28.5495% 96.973%, 26.073% 97.056%, 23.334% 97.154%, 21.2467% 97.233%, 19.3569% 97.307%, 16.8810% 97.409%, 14.7961% 97.49%, 12.6448% 97.59%, 10.9510% 97.670%, 8.8630% 97.768%, 6.6500% 97.876%, 4.56000% 97.982%, 2.01983% 98.117%, 0.78033% 98.185%, 0% 98.230%, 0% 0%);

        @media screen and (max-width: $xs-tablet) {
          padding: 0 3.2rem 3.2rem;
          clip-path: none;

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: $green1200;
            right: 0;
            height: 4.53vw;
            clip-path: polygon(0% 0%, 100% 0%, 100% 17.64706%, 74.66667% 64.70588%, 62.13333% 88.23529%, 52.53333% 100%, 32% 100%, 24% 94.11765%, 10.93333% 82.35294%, 0% 70.58824%, 0% 0%);
          }
        }
        
        p {
          margin-top: 0;
          font-size: 1.5rem;
          font-family: 1.6rem;
          font-weight: normal;
          line-height: 1.33;
          margin-bottom: 2.9rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
    }

    .icon,
    .itm-location-type {
        width: 10%;
        display: inline-block;
        vertical-align: top;
        margin-right: 1.5rem;
        margin-top: .5rem;
        font-weight: bold;
        text-align: center;

        img {
          width: 3.5rem;
          height: 3.5rem;
          background: $green1300;
          border-radius: 500px;
          transition: .2s ease background;
        }

        .title {
            display: block;
            font-size: .9rem;
            color: $gray800;
        }
    }

    .item,
    .itm-location-details {        
        width: 85%;
        display: inline-block;
        font-family: 1.6rem;
        color: $black;

        .name,
        .itm-store-name {
            display: inline-block;
            font-size: 2.2rem;
            font-weight: bold;     
            text-decoration: none; 
            color: $black;
            text-transform: lowercase;

            &.triangle-link {
              position: relative;
              &::after {
                width: 0.8rem;
                height: 1.1rem;
                position: absolute;
                margin-top: 1.1rem;
                vertical-align: middle;
              }
            }
        }

        .notice {
            font-family: $secondaryType;
            display: block;
            text-transform: uppercase;
            font-size: 1.3rem;
        }

        .status,
        .itm-location-status {
            font-family: $primaryType;
            color: $green200;
            font-size: 1.2rem;
            font-weight: 500;
            margin-right: .4em;
            &:empty {
              display: none;
            }

            &.closed {
                color: $red400;
            }
        }
        .distance {
            display: block;
            font-size: 1.2rem;
            font-weight: 500;
            color: $gray800;
            font-family: $primaryType;
            margin-bottom: 1.5rem;
        }

        .itm-location-address {
          display: inline-block;
          font-size: 1.5rem;
          font-weight: normal;
          font-family: $primaryType;
          text-decoration: underline;
        }
        .address-link {
          display: inline-block;
          padding-right: 2rem;
          position: relative;
          text-decoration: underline;
          &:after {
            content: " \e900" !important;
            /* use !important to prevent issues with browser extensions that change fonts */
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            background-image: none !important;
            font-size: 1rem;
            right: 0 ;
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
        
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }

        .itm-location-phone {
          @media screen and (max-width: $xs-tablet) {
            margin-bottom: 0;
          }
        }

        .itm-location-actions {
          margin-bottom: 1.5rem;
          .secondary {
            border: none;
          }
          
          .btn {
            @media screen and (max-width: $xs-tablet) {
              margin-top: 1.5rem;
            }

            &:first-of-type {
              margin-right: 2.5rem;
            }
          }
        }

        .addr1,
        .addr2,
        .phone-desktop,
        .phone-mobile {
            display: block;
            font-size: 1.5rem;
            font-weight: normal;
            font-family: $primaryType;
        }

        .phone-desktop,
        .phone-mobile {
            margin-top: 1.5rem;
        }
        .phone-desktop {
          margin-top: .6rem;
          
            @media(max-width: $xs-tablet){
                display: none;
            }
        }
        .phone-mobile {
            @media(min-width: $xs-tablet){
                display: none;
            }
            a { 
              font-weight: 300;

              @media(max-width: $xs-tablet){
                &:focus {
                  text-decoration: underline;
                }
              }
            }
        }
        
        .primary-button {
          margin-right: 2.5rem;  
          margin-top: 1.5rem;
  
          &.delivery:not(.disabled) {
            background-color: $gold500;
            color: $black;
            &:hover {
              background-color: $green300;
              color: $white;
            }
          }
        }

        

        .delivery-services {
          display: block;
          margin-top: 1.5rem;
          
          .delivery-option {
            font-size: 1.2rem;
            font-weight: bold;
            display: inline-block;
            color: $black;
            line-height: 0.89;
            margin-right: 1.5rem;
            text-decoration: none;
            position: relative;
            margin-bottom: 1rem;
            padding: 1rem 1.5rem 1rem 0;
          }
        }
    }

    .delivery-icon {
      height: 2.0rem;
      margin-right: .5rem;
      vertical-align: middle;
    }

    .cpt-delivery-opt {
      .itm-deliver-options {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;

        li {
          a {
            font-size: 1.2rem;
            font-weight: bold;
            display: flex;
            color: $black;
            line-height: 0.89;
            margin-right: 1.5rem;
            text-decoration: none;
            position: relative;
            margin-bottom: 1rem;
            padding: 1rem 1.5rem 1rem 0;
          }
        }
      }
    }

    .hours {
      font-family: $primaryType;
      display: inline-block;
      font-size: 1.2rem;
      font-weight: 500;
      color: $black;

      &:empty {
        display: none;
      }
    }
  }

  .cpt-hero-content {
    padding: 7.5rem 0;
  }

  .results-count {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba($blue500, 0.23);
    padding: .7rem 0 .7rem 5rem;
    position: relative;
    font-family: $primaryType;
    font-size: 1.5rem;
    z-index: 2;

    .number,
    .search {
      font-family: $primaryType;
      font-size: 1.5rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: $black;
    }

    .number {
      margin-right: .6rem;
    }

    .search {
      font-weight: bold;
      color: $green300;
      margin-left: .6rem;
      word-break: break-word;
    }
  }

  .no-results-msg {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    
    img {
      display: block;
      padding-top: 6rem;
      max-width: 14rem;
      margin: 0 auto;
    }

    p {
      padding-left: 5rem;
      padding-right: 1.5rem;
    }

    .searched-term {
      word-break: break-word;
    }
    
    .script-headline {
      font-family: 1.6rem;
      font-size: 3rem;
      font-weight: 500;
      text-align: center;
      display: block;
      padding-top: 3rem;
    }
  }


  .item-wrapper {
    padding-top: 3rem;
    padding-left: 3rem;
    transition: .2s ease background;

    &.selected {
        background-color: $gold900;

        .icon {
          img {
            background: $white;
          }
        }
    }
    
    &:after {
        content: '';
        background-image: url("../img/divider-pale-blue.svg");
        background-repeat: no-repeat;
        background-size: 150% 100%;
        overflow: hidden;
        height: .3rem;
        display: block;
        margin-top: 1.2rem;
        border: none;
        width: 100%;
    }

    &:last-of-type {
      margin-bottom: 1.6rem;
    }
}
  /* used to quickly hide map or dummy map without the need to rebuild component or make extra requests */
  .hide-temporarily {
    display: none !important;
  }

  .gmap {
      width: calc(100% - 59.5rem);
      height: 882px;
      display: inline-block;
      transition: .2s ease padding;
      overflow: hidden;
      border-left: none;
      @media(max-width: $sml-desktop){
          width: 100%;
          order: 1;
          height: 330px;
      }
      &>div {
        @media(max-width: $sml-desktop){
          height: 330px !important;
        }
      }
      img {
          width: 100%;
      }
  }
}

/*      Fix for google maps pin    */
.location-finder-component {
  .gmap {
    div[style*="color: rgb(0, 0, 0); font-size: 14px; font-family: Roboto, Arial, sans-serif"] { 
      background: $white;
      border-radius: 50%;
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}

.ie.highcontrast {
  .location-finder-component {
    .gm-style {
      div[style*="background-color: rgba(255, 255, 255, 0);"] {
        background-color: transparent !important;
      }
    }

    div[style*="color: rgb(0, 0, 0); font-family: Roboto,Arial,sans-serif; font-size: 14px;"] { 
      background: $black;
    }
  }
}