.mega-menu-component {
  background-color: $beige600;
  width: 100%;
  padding-left: 1.5rem;
  position: fixed;
  top: 12.5rem;
  z-index: 9;
  overflow: hidden;
  transition: .25s ease all, 0s linear top;
  box-shadow: inset 0px 11px 8px -10px #CCC;
  transform: translateY(-100%);
  height: auto !important;
  opacity: 0;
  display: none;

  @media screen and (min-width: $small-tablet) {
    clip-path: polygon(0% 0%,100% 0%,100% 98.8%,99.7079% 98.6159%,99.4534% 98.476%,99.0069% 98.256%,98.5973% 98.0748%,98.2579% 97.9374%,97.9937% 97.8374%,97.4415% 97.6452%,97.0980% 97.5362%,96.7621% 97.4362%,96.44% 97.3472%,96.0208% 97.2384%,95.5924% 97.1366%,95.0187% 97.0136%,94.4965% 96.9136%,94.0806% 96.8416%,93.7677% 96.7916%,93.4596% 96.746%,93.0069% 96.6848%,92.7183% 96.6494%,92.1766% 96.5894%,91.8025% 96.5535%,91.4659% 96.525%,90.9944% 96.49%,90.5132% 96.4607%,90.2002% 96.4450%,89.9228% 96.433%,89.5132% 96.4190%,89.1515% 96.4098%,88.7538% 96.4033%,88.3984% 96.4008%,88.2475% 96.4008%,87.831% 96.4058%,87.4339% 96.4196%,86.9339% 96.449%,86.5187% 96.4826%,86.0549% 96.5296%,85.6147% 96.5828%,85.2997% 96.6256%,84.9332% 96.6802%,84.4993% 96.7505%,84.0660% 96.827%,83.6390% 96.9070%,83.1842% 96.9982%,82.7823% 97.0826%,82.3532% 97.1764%,82.1133% 97.2302%,81.6008% 97.3484%,81.0278% 97.4847%,80.4325% 97.63%,79.9381% 97.7526%,79.4937% 97.8638%,79.0542% 97.974%,78.4109% 98.1354%,77.9617% 98.2476%,77.5493% 98.3498%,77.1529% 98.447%,76.6648% 98.565%,76.1140% 98.6952%,75.771% 98.7752%,75.4812% 98.8412%,75.1237% 98.9212%,74.806% 98.9904%,74.5083% 99.054%,74.1703% 99.1242%,73.8636% 99.1862%,73.5417% 99.2495%,73.1300% 99.3274%,72.7468% 99.397%,72.3428% 99.4668%,71.8143% 99.5527%,71.4262% 99.6128%,70.9492% 99.6806%,70.6411% 99.7206%,70.2837% 99.7649%,69.8101% 99.8184%,69.3677% 99.8631%,68.7482% 99.9168%,68.0684% 99.9632%,67.5844% 99.9884%,67.2461% 100%,66.0943% 100.0022%,65.3294% 99.9652%,64.8060% 99.9251%,64.348% 99.8802%,63.8090% 99.8168%,63.2363% 99.7386%,62.4620% 99.617%,61.5133% 99.4478%,60.76098% 99.3009%,60.1582% 99.1776%,59.6362% 99.0677%,59.0451% 98.941%,58.4926% 98.821%,57.9632% 98.7066%,57.6022% 98.629%,56.9751% 98.4962%,56.36050% 98.3696%,55.9542% 98.2896%,55.4187% 98.1866%,54.6443% 98.0476%,53.9120% 97.9288%,53.41070% 97.8558%,52.8196% 97.7796%,52.2833% 97.7208%,51.7543% 97.673%,51.41926% 97.6484%,51.0582% 97.6274%,50.66112% 97.6108%,50.24749% 97.6012%,49.7221% 97.6012%,49.3134% 97.6082%,48.1248% 97.6454%,47.82503% 97.6586%,46.61849% 97.7258%,45.8251% 97.7816%,45.2966% 97.8232%,44.8390% 97.8622%,44.5220% 97.8905%,43.79033% 97.9604%,42.74332% 98.0694%,42.0031% 98.1524%,41.0942% 98.2598%,40.4525% 98.3388%,39.7844% 98.4234%,38.9742% 98.5283%,38.4013% 98.6039%,37.4936% 98.724%,36.93831% 98.7984%,36.3662% 98.8748%,35.59082% 98.978%,34.992% 99.0564%,34.2876% 99.1474%,33.2395% 99.278%,32.042% 99.4179%,31.02072% 99.5275%,30.0693% 99.6191%,29.05695% 99.7038%,28.15820% 99.7658%,27.5382% 99.8001%,26.73101% 99.8224%,25.8589% 99.8078%,25.392% 99.7847%,24.78407% 99.74%,23.9726% 99.6558%,23.0228% 99.5249%,21.69360% 99.291%,20.29248% 98.991%,18.354% 98.5110%,17.34165% 98.2402%,16.24228% 97.9402%,15.5992% 97.765%,14.48282% 97.4676%,12.7456% 97.0476%,11.44242% 96.7958%,10.09408% 96.6314%,9.24895% 96.6%,8.43776% 96.6186%,7.5032% 96.675%,7.10806% 96.7106%,6.52510% 96.7766%,5.52204% 96.9294%,4.46328% 97.1494%,3.56293% 97.3883%,1.406745% 98.198%,0% 99%,0% 0%);
  }

  @media (max-width: $xs-tablet) {
    top: 7rem;
    display: none;
  }

  &.show {
    transform: translateY(0);
    opacity: 1;
  }

  .main-links-col {
    width: 23%;
    float: left;
    margin-right: 1%;
  }
  .main-links-col:nth-of-type(2) {
    margin-left: 3%;

    @media screen and (min-width: $small-tablet) and (max-width: 880px) {
      margin-left: 2%;
      margin-right: 3.5%;
    }
  }

  .main-links-col:last-of-type {
    margin-right: 0;
  }

  .close {
    top: 2rem;
    right: 2rem;
    z-index: 1;
    border: none;
  }

  a {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: $black;
    display: block;
    &:hover {
      color: $green300;
    }
    &:focus {
      outline: none;
    }
  }

  .primary-button {
    color: $white;
    width: 90%;
  }
  .mega-main-links {
    padding-left: 1.5rem;
    padding-top: 4.6rem;
    max-width: 60%;
    min-width: 40%;
    padding-bottom: 7rem;
  }
  .mega-right {
    max-width: 40%;
    .primary-button {
      font-size: 1.6rem;
    }
  }

  &.fixed {
    position: fixed;
  }
  ul {
    list-style-type: none;
  }
  ul.standard-list {
    li {
      margin-right: 14rem;
      margin-bottom: 3rem;
      a {
        color: $black;
      }
    }
  }
  .no-submenu {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
    display: flex;
    padding-inline-start: 0 !important;
    div {
      margin-right: 10rem;
      margin-bottom: 3rem;
    }
    & a {
      color: $black;
    }
  }
  .standard-link {
    margin-bottom: 3rem;
    & a {
      color: $black;
    }
  }
  .submenu-link {
    margin-bottom: 3rem;
    margin-left: 2rem;
    color: $green300;
    font-weight: normal;
    font-size: 1.8rem;
    a {
      font-family: $primaryType;
    }
  }

  .has-submenu {
      margin-right: 10rem;
      float: left;
      @media screen and (max-width: 1000px) {
        margin-right: 5rem;
      }
      & > a {
        color: $black;
        display: block;
        margin-bottom: 3rem;
      }
      li {
        margin-bottom: 3rem;
      }
    & ul li a {
      color: $green300;
      padding-bottom: 3rem;
    }
  }

  div.fullwidth {
    margin-bottom: 1.4rem;
    img {
      float: left;
      margin-right: 2rem;
    }
  }
  .mega-featured-detail {
    display: flex;
    float: left;
    width: 100%;
    font-family: $primaryType;;
    font-size: 1.4rem;
    padding: 4.6rem 0 0 3%;

    a {
      position: relative;
    }
    p {
      margin: 1rem 0 1.5rem 0;
    }
    .script-text{
      font-size: 2.2rem;
      color: $green300;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1-like,
    .h2-like,
    .h3-like,
    .h4-like,
    .h5-like,
    .h6-like {
      font-size: 3rem;
      line-height: 1;
      display: block;
    }
    .mega-detail-img {
      margin-right: 4rem;
    }

    @media screen and (max-width: 1260px) {
      .mega-detail-img {
        margin-right: 2rem;
        img {
          width: 16vw;
        }
      }
      .mega-detail-cta {
        .script-text {
          font-size: 130%
        }
        h4 {
          font-size: 160%
        }
        a {
          font-size: 115%;
        }
      }
    }
    @media screen and (max-width: 926px) {
      .mega-detail-img {
        margin-right: 1rem;
        img {
          width: 12vw;
        }
      }
    }
  }
  
  &.scrolled {
    top: 11rem;
  }
  
  .mega-detail-cta {
    .primary-button {
      &:hover,
      &:focus,
      &:active {
        color: $black;
      }
    }
  }
  
  &.has-scroll {
    overflow-y: auto;
    height: calc(100vh - 165px) !important;
  } 
}

//IE hacks
.ie .mega-main-links {
  max-width: 50%;
  min-width: 45%;
}
.ie .mega-right {
  max-width: 40%;
  min-width: 20%;
}