.menu-item-list-component {
  margin-bottom: 3rem;

  @media screen and (max-width: $xs-tablet){
    margin-bottom: 3rem;
  }
  
  .menu-title {
    text-align: left;
    font-family: $primaryType;
    font-weight: 700;
    margin-top: 6rem;

    @media screen and (max-width: $xs-tablet){
      margin-top: 0;
    }

    h4 {
      font-weight: bold;
    }
  }
  //jj-878
  .section-title {
    text-align: center;
    margin-bottom: 4.8rem;
    margin: 0 auto;
    line-height: 1;

    h1, h2, h3, h4, h5, h6, span {
      font-size: 4rem;
      font-family: $primaryType;
      font-weight: 700;
      color: $black;
    }

    @media screen and (max-width: $xs-tablet) {
      padding-top: 2.4rem;
      max-width: 29.5rem;
    }
    .script-text {
      display: inline-block;
      font-family: $secondaryType;
      font-size: 3.5rem;
      color: $green300;
      margin-right: 0.23em;

      @media screen and (max-width: $xs-tablet) {
        font-size: 3rem;
      }
    }
  //START themes
  &.gold-theme {

  }

  &.blue-theme {

  }

  &.mandarin-theme {
    h1, h2, h3, h4, h5, h6, span {
      // font-size: 5.2rem;
    }
      &::after {
      content: '';
      background-image: url(../img/underline.svg);
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 100%;
      height: 15px;
      background-position-x: center;
    }
  }
  //END themes
  }

  .row {
    justify-content: flex-start;
    flex-direction: row;
    
    @media screen and (max-width: $xs-tablet){
      margin-right: -0.9rem;
      margin-left: -0.9rem;
    }

    .col {
      flex-basis: 25%;
      flex-grow: 0;
      display: inline-flex;
      justify-content: center;
      max-width: 35rem;
      align-items: stretch;

      
      @media screen and (max-width: $xs-tablet) {
        flex-basis: 50%;
        justify-content: center;
        padding-right: 0.6rem;
        padding-left: 0.6rem;
      }

      .menu-item-card-component {
        margin-left: 0;
        margin-right: 0;

        @media screen and (max-width: $mid-mobile){
          margin-top: 9rem;
          height: calc(100% - 9rem);
        }

        &.whirl {
          &:after {
            @media screen and (max-width: $mid-mobile) {
              width: 4.29rem;
              height: 4.31rem;
              display: block;
              position: absolute;
              top: -5.6rem;
              left: 2.8rem;
            }
          }
        }

        img {
          @media screen and (max-width: $mid-mobile) {
            margin-top: -9rem; 
            margin-bottom: .5rem;
          }
        }

        .card-footer {
          .secondary-button {
            padding: 1.7rem 1rem;
          }
        }

        hr {
          @media screen and (max-width: $xs-tablet) {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
          }
        }
      }
    }
  }

  &.wave-top {
    padding-top: 6.2rem;
    position: relative;
    
    @media screen and (max-width: $xs-tablet){
      padding-top: 0;
    }

    @media screen and (min-width: $small-tablet) {
      clip-path: polygon(99.93065187239945% 4.714285714285714%, 99.93065187239945% 100%, 0.06934812760055478% 100%, 0.06934812760055478% 1.5714285714285716%, 1.9417475728155338% 2%, 1.9417475728155338% 2.142857142857143%, 2.496532593619972% 2.142857142857143%, 2.496532593619972% 2.2857142857142856%, 3.1206657420249653% 2.2857142857142856%, 3.1206657420249653% 2.4285714285714284%, 3.6754507628294033% 2.4285714285714284%, 3.6754507628294033% 2.571428571428571%, 6.310679611650485% 3%, 6.310679611650485% 3.1428571428571432%, 7.073509015256588% 3.1428571428571432%, 7.073509015256588% 3.2857142857142856%, 7.905686546463246% 3.2857142857142856%, 7.905686546463246% 3.428571428571429%, 8.876560332871012% 3.428571428571429%, 10.194174757281553% 3.571428571428571%, 11.71983356449376% 3.7142857142857144%, 14.21636615811373% 3.571428571428571%, 16.08876560332871% 3.428571428571429%, 18.169209431345354% 3.428571428571429%, 18.169209431345354% 3.2857142857142856%, 20.041608876560332% 3.2857142857142856%, 20.041608876560332% 3.1428571428571432%, 21.63661581137309% 3.1428571428571432%, 23.231622746185852% 3%, 24.618585298196948% 2.857142857142857%, 27.323162274618586% 2.4285714285714284%, 36.615811373092924% 1.4285714285714286%, 36.615811373092924% 1.2857142857142856%, 38.141470180305134% 1.1428571428571428%, 38.90429958391123% 1.1428571428571428%, 38.90429958391123% 1%, 40.01386962552011% 1%, 40.01386962552011% 0.8571428571428572%, 41.19278779472954% 0.8571428571428572%, 41.19278779472954% 0.7142857142857143%, 42.302357836338416% 0.7142857142857143%, 42.44105409153953% 0.5714285714285714%, 43.689320388349515% 0.5714285714285714%, 43.75866851595007% 0.4285714285714286%, 45.07628294036061% 0.4285714285714286%, 46.67128987517337% 0.2857142857142857%, 46.67128987517337% 0.14285714285714285%, 48.6130374479889% 0.14285714285714285%, 51.45631067961165% 0%, 57.76699029126213% 0%, 60.124826629680996% 0.14285714285714285%, 60.81830790568654% 0.14285714285714285%, 60.81830790568654% 0.2857142857142857%, 63.176144244105416% 0.2857142857142857%, 63.176144244105416% 0.4285714285714286%, 65.18723994452151% 0.4285714285714286%, 68.7239944521498% 0.8571428571428572%, 70.31900138696255% 1%, 73.23162274618585% 1.1428571428571428%, 74.61858529819695% 1.2857142857142856%, 75.93619972260748% 1.4285714285714286%, 77.25381414701803% 1.5714285714285716%, 77.25381414701803% 1.7142857142857144%, 78.91816920943134% 1.8571428571428572%, 79.68099861303745% 1.8571428571428572%, 79.68099861303745% 2%, 82.03883495145631% 2.142857142857143%, 82.03883495145631% 2.2857142857142856%, 83.14840499306518% 2.2857142857142856%, 83.14840499306518% 2.4285714285714284%, 84.25797503467406% 2.4285714285714284%, 84.25797503467406% 2.571428571428571%, 85.71428571428571% 2.7142857142857144%, 86.47711511789181% 2.7142857142857144%, 86.47711511789181% 2.857142857142857%, 87.51733703190014% 2.857142857142857%, 87.51733703190014% 3%, 88.55755894590847% 3%, 88.55755894590847% 3.1428571428571432%, 89.94452149791957% 3.2857142857142856%, 90.63800277392511% 3.2857142857142856%, 90.63800277392511% 3.428571428571429%, 91.60887656033287% 3.428571428571429%, 91.60887656033287% 3.571428571428571%, 92.57975034674064% 3.571428571428571%, 92.57975034674064% 3.7142857142857144%, 93.5506241331484% 3.7142857142857144%, 93.5506241331484% 3.8571428571428568%, 94.52149791955617% 3.8571428571428568%, 94.52149791955617% 4%, 95.49237170596395% 4%, 95.49237170596395% 4.142857142857142%, 96.46324549237171% 4.142857142857142%, 96.46324549237171% 4.285714285714286%, 97.43411927877948% 4.285714285714286%, 97.43411927877948% 4.428571428571428%, 98.3356449375867% 4.428571428571428%, 98.3356449375867% 4.571428571428571%);
    }

    &:before {
      @media screen and (max-width: $xs-tablet){
        content: "";
        background-color: $green1000;
        display: block;
        width: 100%;
        height: 4.53vw;
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        z-index: 2;
        left: 0;
        clip-path: polygon(0% 100%, 100% 100%, 100% 82.35294%, 74.66667% 35.29412%, 62.13333% 11.76471%, 52.53333% 0%, 32% 0%, 24% 5.88235%, 10.93333% 17.64706%, 0% 29.41176%, 0% 100%);
      }
    }
  }

  &.gold-theme {
    background-color: $gold500;
    &.wave-top {
      &::before {
        @media screen and (max-width: $xs-tablet){
          background-color: $gold500;
        }
      }
    }
  }

  &.mandarin-theme {
    background-color: $mandarin700;
    &.wave-top {
      &::before {
        @media screen and (max-width: $xs-tablet){
          background-color: $mandarin700;
        }
      }
    }
  }

  &.mint-theme {
    background-color: $green1000;
    &.wave-top {
      &::before {
        @media screen and (max-width: $xs-tablet){
          background-color: $green1000;
        }
      }
    }
  }

  &.blue-theme {
    background-color: $blue600;
    &.wave-top {
      &::before {
        @media screen and (max-width: $xs-tablet){
          background-color: $blue600;
        }
      }
    }
  }

  &.gray-theme {
    background-color: $blue900;
    &.wave-top {
      &::before {
        @media screen and (max-width: $xs-tablet){
          background-color: $blue900;
        }
      }
    }
  }

  &.lightBeige-theme {
    background-color: $beige600;
    &.wave-top {
      &::before {
        background-color: $beige600;
      }
    }
  }

  &--slim {
    .row {
      justify-content: center;
      .col {
        max-width: 30rem;
      }
    }    
  }
}