.secondary-app-hero-component {
    margin-top: 8rem;

    @media screen and (max-width: $xs-tablet) {
      margin-bottom: -4rem;
    }

  .secondary-app-hero-card-row {
    position: relative;
    padding-bottom: 3.6rem;

    @media screen and (max-width: $xs-tablet) {
      padding-top: 6rem;
      padding-bottom: 14rem;
      margin-top: 12rem;
    }

    &:last-of-type {
      padding-bottom: 1rem;
      margin-top: 5rem;
      margin-bottom: 2rem;
      
      @media screen and (max-width: $xs-tablet) {
        padding-bottom: 2.2rem;
        margin-bottom: 4rem;
      }
    }

    .bg-helper,
    &:after,
    &:before {
      background-color: $beige600;
    }

    .bg-helper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;

      @media screen and (min-width: $small-tablet) {
        clip-path: polygon(0% 8.291457286432161%, 0.45138888888888884% 8.153015075376883%, 1.1818055555555556% 7.934422110552763%, 2.0744444444444445% 7.673366834170854%, 2.9644444444444447% 7.4185929648241205%, 3.7254861111111106% 7.204522613065327%, 4.608333333333333% 6.959798994974873%, 5.290277777777779% 6.774120603015075%, 6.058611111111111% 6.567587939698492%, 6.694583333333333% 6.398994974874372%, 7.849930555555555% 6.09748743718593%, 8.589375% 5.908040201005025%, 9.32875% 5.721105527638191%, 10.112083333333334% 5.525879396984925%, 10.929513888888888% 5.3248743718592975%, 12.125069444444444% 5.03643216080402%, 12.65388888888889% 4.910804020100503%, 13.513750000000002% 4.709798994974874%, 14.147291666666668% 4.563567839195979%, 14.98284722222222% 4.373618090452261%, 15.640625% 4.226130653266331%, 16.426805555555553% 4.052512562814071%, 17.44298611111111% 3.832412060301508%, 18.325972222222223% 3.644974874371859%, 19.254444444444445% 3.451758793969849%, 20.433402777777776% 3.2123115577889445%, 20.99513888888889% 3.100502512562814%, 21.955833333333334% 2.9128140703517587%, 22.586736111111115% 2.791959798994975%, 23.233819444444446% 2.6701005025125633%, 24.146944444444447% 2.501507537688442%, 25.396250000000002% 2.277638190954774%, 26.536666666666665% 2.080402010050251%, 27.259722222222223% 1.9587939698492465%, 28.40493055555556% 1.7718592964824118%, 29.756875% 1.5603015075376885%, 31.085069444444446% 1.3623115577889446%, 31.61611111111111% 1.286934673366834%, 32.51298611111111% 1.1613065326633165%, 33.51298611111111% 1.0271356783919598%, 34.30020833333333% 0.9266331658291457%, 35.18534722222222% 0.8173366834170855%, 36.421458333333334% 0.6728643216080402%, 37.55784722222222% 0.5487437185929649%, 38.57868055555556% 0.44472361809045224%, 39.54208333333333% 0.3530150753768844%, 40.10798611111111% 0.3027638190954774%, 40.96659722222222% 0.23015075376884422%, 41.447500000000005% 0.19195979899497487%, 42.23659722222222% 0.13291457286432162%, 43.31569444444444% 0.060050251256281405%, 43.834097222222226% 0.028391959798994976%, 44.30555555555556% 0%, 45.646597222222226% -0.05251256281407035%, 46.899236111111115% -0.06457286432160804%, 47.592708333333334% -0.05703517587939699%, 48.36354166666666% -0.0371859296482412%, 49.114374999999995% -0.00678391959798995%, 49.653333333333336% 0.021608040201005024%, 50.30875% 0.06306532663316583%, 50.96527777777777% 0.11155778894472361%, 51.735625000000006% 0.1778894472361809%, 52.42923611111111% 0.24547738693467333%, 53.12277777777778% 0.3208542713567839%, 53.85409722222222% 0.407286432160804%, 54.952222222222225% 0.550502512562814%, 55.81847222222221% 0.6743718592964825%, 56.300069444444446% 0.7469849246231155%, 57.05243055555555% 0.8658291457286433%, 57.51208333333333% 0.9412060301507538%, 58.08847222222222% 1.0391959798994976%, 58.82333333333334% 1.1688442211055277%, 59.47958333333333% 1.2886934673366834%, 60.441180555555555% 1.471105527638191%, 61.09944444444444% 1.6%, 61.86659722222222% 1.7542713567839197%, 62.527013888888895% 1.8902010050251254%, 62.93625% 1.9758793969849247%, 63.354166666666664% 2.0640703517587937%, 63.71479166666667% 2.140954773869347%, 64.11590277777778% 2.227386934673367%, 64.37388888888889% 2.2834170854271356%, 64.67881944444444% 2.35%, 65.11395833333333% 2.4454773869346735%, 65.60381944444444% 2.5540201005025125%, 65.99638888888889% 2.6414572864321606%, 66.37138888888889% 2.7253768844221105%, 66.88194444444444% 2.8391959798994977%, 67.33402777777778% 2.941457286432161%, 67.67076388888889% 3.0168341708542714%, 68.08743055555556% 3.1115577889447237%, 68.53048611111112% 3.2120603015075377%, 68.89111111111112% 3.2942211055276385%, 69.344375% 3.3974874371859296%, 69.86111111111111% 3.5175879396984926%, 70.62777777777778% 3.686934673366834%, 71.36944444444444% 3.8427135678391964%, 71.77986111111112% 3.925879396984925%, 72.24374999999999% 4.018341708542714%, 73.01666666666668% 4.169095477386935%, 73.62847222222221% 4.28718592964824%, 74.22847222222224% 4.403015075376885%, 74.74930555555557% 4.503517587939698%, 75.40277777777777% 4.633417085427135%, 75.9513888888889% 4.745979899497487%, 76.45902777777778% 4.851005025125628%, 76.98472222222222% 4.957788944723617%, 77.21249999999999% 5.003266331658292%, 77.60902777777777% 5.0814070351758795%, 78.05069444444445% 5.166582914572864%, 78.4826388888889% 5.247738693467337%, 78.87916666666666% 5.320603015075377%, 79.27152777777778% 5.390703517587939%, 79.7611111111111% 5.475376884422111%, 80.30972222222222% 5.566331658291458%, 80.78888888888888% 5.641708542713568%, 81.2076388888889% 5.704522613065327%, 81.79722222222223% 5.7876884422110555%, 82.35277777777779% 5.859798994974874%, 82.93541666666667% 5.9283919597989945%, 83.34930555555556% 5.9721105527638185%, 83.95833333333333% 6.028643216080401%, 84.92013888888889% 6.115326633165829%, 85.73680555555555% 6.19070351758794%, 86.30763888888889% 6.237939698492463%, 86.87777777777778% 6.276130653266332%, 87.48194444444445% 6.301256281407035%, 88.24166666666667% 6.301256281407035%, 88.68055555555556% 6.280150753768845%, 88.93472222222223% 6.259547738693468%, 89.29166666666666% 6.220351758793971%, 90.07499999999999% 6.097989949748744%, 90.70208333333333% 5.972361809045227%, 91.68541666666667% 5.743216080402011%, 92.65763888888888% 5.517085427135679%, 93.08472222222223% 5.421105527638191%, 93.62083333333334% 5.289698492462311%, 94.1125% 5.158793969849246%, 94.60347222222222% 5.017587939698492%, 95.075% 4.872110552763818%, 95.62222222222222% 4.69070351758794%, 96.34930555555556% 4.428140703517588%, 97.05694444444444% 4.148743718592965%, 97.36111111111111% 4.021105527638191%, 98.33680555555556% 3.589698492462312%, 98.86666666666667% 3.3414572864321603%, 99.1361111111111% 3.210804020100502%, 99.56736111111111% 2.994723618090452%, 100% 2.763819095477387%, 100% 92.71356783919597%, 99.4486111111111% 92.86608040201006%, 99.00833333333333% 92.98517587939699%, 98.22291666666668% 93.19346733668343%, 97.19791666666667% 93.45854271356784%, 96.66458333333333% 93.59396984924624%, 96.1% 93.7356783919598%, 95.18888888888888% 93.96030150753768%, 94.14444444444445% 94.21155778894472%, 93.00625% 94.48065326633166%, 91.8701388888889% 94.7429648241206%, 90.75763888888889% 94.99422110552764%, 89.82569444444445% 95.2%, 89.12291666666667% 95.35301507537687%, 88.52708333333334% 95.48065326633164%, 87.81666666666666% 95.63140703517587%, 86.96458333333334% 95.80879396984925%, 85.92569444444445% 96.02035175879396%, 84.87569444444445% 96.22939698492462%, 84.30763888888889% 96.34045226130652%, 83.39930555555556% 96.51507537688443%, 82.61041666666667% 96.66356783919599%, 81.83819444444444% 96.80603015075377%, 80.82152777777777% 96.98969849246232%, 79.69375% 97.18768844221105%, 78.95972222222221% 97.31331658291458%, 78.13263888888888% 97.45175879396984%, 77.16597222222222% 97.60929648241206%, 76.28402777777778% 97.74924623115578%, 75.08541666666667% 97.93341708542714%, 74.56458333333333% 98.01105527638191%, 73.66458333333334% 98.14195979899498%, 72.60555555555555% 98.29070351758794%, 71.47222222222223% 98.44321608040201%, 70.5625% 98.5605527638191%, 69.96875% 98.63592964824122%, 68.93645833333333% 98.76005025125629%, 68.04479166666667% 98.86231155778894%, 67.24618055555555% 98.9502512562814%, 66.40159722222222% 99.0389447236181%, 65.51909722222223% 99.12688442211055%, 64.85027777777778% 99.19020100502513%, 64.06916666666666% 99.26080402010051%, 63.22416666666667% 99.33241206030151%, 62.35152777777777% 99.40175879396985%, 61.23680555555555% 99.4824120603015%, 60.21534722222223% 99.54874371859297%, 59.639930555555566% 99.58266331658291%, 58.72888888888889% 99.63140703517588%, 57.948541666666664% 99.66834170854271%, 56.93604166666667% 99.70879396984925%, 55.625% 99.74874371859298%, 55.05055555555555% 99.75879396984925%, 54.14951388888889% 99.75879396984925%, 53.125% 99.7497487437186%, 52.01388888888889% 99.7497487437186%, 50.83333333333333% 99.7497487437186%, 49.844722222222224% 99.66231155778894%, 49.229375000000005% 99.59949748743718%, 48.55305555555555% 99.52412060301508%, 47.99875% 99.4572864321608%, 47.47027777777778% 99.38994974874372%, 46.88979166666666% 99.31180904522614%, 46.417569444444446% 99.24547738693468%, 45.97090277777778% 99.18065326633166%, 45.593472222222225% 99.12412060301507%, 45.40770833333333% 99.0959798994975%, 45.082708333333336% 99.04572864321608%, 44.515% 98.90326633165829%, 43.88875% 98.74472361809046%, 43.17590277777777% 98.58140703517587%, 42.777638888888895% 98.49346733668342%, 42.11881944444444% 98.37638190954775%, 41.38875% 98.24221105527639%, 41.04847222222222% 98.1829145728643%, 40.34708333333334% 97.99095477386935%, 39.717847222222225% 97.88316582914572%, 39.11958333333334% 97.78266331658291%, 38.78680555555555% 97.72738693467336%, 38.35451388888889% 97.65653266331658%, 37.96055555555555% 97.5927135678392%, 37.64395833333333% 97.54246231155778%, 37.37854166666666% 97.50050251256282%, 37.11173611111111% 97.45904522613066%, 36.86423611111111% 97.42085427135679%, 36.25604166666667% 97.32035175879396%, 35.58881944444445% 97.19472361809045%, 35.120416666666664% 97.10276381909547%, 34.64888888888889% 97.01030150753769%, 34.27527777777778% 96.93944723618091%, 33.875347222222224% 96.8678391959799%, 33.457430555555554% 96.8002512562814%, 32.98611111111111% 96.73366834170855%, 32.797152777777775% 96.71206030150753%, 32.32131944444445% 96.66708542713567%, 31.573125% 96.61683417085428%, 30.938541666666662% 96.58693467336683%, 30.05659722222222% 96.5502512562814%, 28.888888888888886% 96.4824120603015%, 28.71194444444444% 96.46884422110553%, 28.103055555555557% 96.42211055276381%, 27.61979166666667% 96.3859296482412%, 27.10027777777778% 96.34723618090452%, 26.636944444444445% 96.31356783919597%, 26.053611111111113% 96.271608040201%, 25.457708333333333% 96.22964824120604%, 24.981597222222224% 96.1964824120603%, 24.493125000000003% 96.16331658291458%, 23.84583333333333% 96.11984924623115%, 23.231180555555557% 96.07964824120603%, 21.947499999999998% 95.99824120603014%, 20.845625000000002% 95.93115577889448%, 19.988819444444445% 95.88090452261306%, 19.08354166666667% 95.83065326633165%, 18.17875% 95.78040201005025%, 17.19263888888889% 95.7288944723618%, 16.204652777777778% 95.67864321608039%, 14.723958333333334% 95.60854271356783%, 13.819027777777778% 95.56834170854272%, 12.716319444444446% 95.52185929648242%, 12.223263888888889% 95.50201005025126%, 11.515555555555556% 95.47437185929648%, 10.824652777777779% 95.44924623115577%, 10.198472222222223% 95.42713567839196%, 9.441527777777777% 95.40201005025125%, 8.816527777777777% 95.3819095477387%, 8.059583333333334% 95.35904522613066%, 7.466874999999999% 95.34221105527638%, 6.841875% 95.32537688442211%, 6.200138888888889% 95.30929648241207%, 5.52548611111111% 95.29371859296482%, 5.064791666666667% 95.28391959798995%, 4.258194444444444% 95.2680904522613%, 3.6331944444444444% 95.25728643216081%, 2.942083333333333% 95.24698492462312%, 2.3004166666666666% 95.23894472361809%, 1.6586805555555557% 95.23266331658292%, 1.0004166666666667% 95.22814070351758%, 0.5063194444444444% 95.22613065326632%, 0.2594444444444445% 95.22613065326632%, 0% 95.22613065326632%, 0% 8.291457286432161%);
      }
    }

    & + .fluid-card-row {
      margin-top: -8rem;

      .bg-helper {
        @media screen and (min-width: $small-tablet) {
          clip-path: polygon(100% 0.21331058020477817%, 100.02664535038636% 92.27815699658703%, 96.78923527844391% 93.00341296928327%, 94.39115374367174% 93.68600682593856%, 88.98214761524113% 94.88054607508532%, 84.1060484945377% 95.90443686006826%, 82.44071409539035% 96.160409556314%, 80.49560351718625% 96.41638225255973%, 79.41646682653877% 96.58703071672356%, 75.63282707167599% 97.86689419795222%, 73.68771649347188% 97.90955631399318%, 74.19397815081268% 97.65358361774744%, 72.28883559818811% 97.6962457337884%, 71.51612043698374% 97.82423208191126%, 70.25046629363176% 98.37883959044369%, 69.46442845723422% 98.50682593856655%, 67.85238475885957% 98.72013651877133%, 62.32347455369038% 99.23208191126281%, 60.37836397548628% 99.36006825938567%, 57.84705568878231% 99.48805460750853%, 50.22648547828405% 99.87201365187714%, 45.73674393818279% 99.36006825938567%, 33.77298161470823% 97.18430034129693%, 24.34052757793765% 95.4778156996587%, 18.758326671995736% 94.49658703071673%, 16.466826538768984% 94.41126279863481%, 12.416733280042633% 94.11262798634812%, 11.257660538236077% 94.02730375426621%, 9.392486011191046% 94.15529010238907%, 8.02025046629363% 94.45392491467577%, 6.101785238475886% 94.83788395904436%, 0% 97.05631399317406%, 0% 2.218430034129693%, 15.42765787370104% 2.474402730375427%, 20.436983746336264% 2.7303754266211606%, 21.542765787370104% 2.8156996587030716%, 22.275512922994935% 3.455631399317406%, 23.92752464694911% 2.5597269624573378%, 25.09992006394884% 2.1757679180887375%, 26.818545163868908% 1.9624573378839592%, 28.577138289368502% 2.04778156996587%, 29.98934185984546% 2.474402730375427%, 31.70796695976552% 3.4129692832764507%, 33.28004263256062% 2.6877133105802047%, 34.13269384492406% 2.858361774744027%, 36.077804423128164% 4.010238907849829%, 37.91633359978684% 4.010238907849829%, 41.10045297095657% 4.863481228668942%, 43.018918198774315% 4.863481228668942%, 44.284572342126296% 5.2047781569965865%, 45.45696775912603% 5.1194539249146755%, 46.77591260325074% 6.0580204778157%, 48.48121502797762% 6.4419795221843%, 52.35811350919265% 6.356655290102389%, 55.82200905941913% 6.356655290102389%, 58.12683186783906% 6.100682593856655%, 59.79216626698641% 6.313993174061433%, 61.16440181188383% 5.7593856655290105%, 62.123634425792694% 5.588737201365188%, 63.256061817212895% 5.503412969283277%, 65.25446309618972% 5.460750853242321%, 67.585931254996% 5.503412969283277%, 68.57180921929124% 4.906143344709898%, 69.95736743938183% 5.07679180887372%, 72.35544897415402% 4.863481228668942%, 74.68691713296029% 4.607508532423208%, 75.64614974686917% 4.436860068259386%, 77.08499866773249% 4.223549488054608%, 100% 0.21331058020477817%);
        }
      }
    }
    
    & + .fluid-card-row + .fluid-card-row {
      .bg-helper {
        @media screen and (min-width: $small-tablet) {
          clip-path: polygon(99.50692963752665% 0.13100436681222707%, 100% 0.21834061135371177%, 99.93336886993603% 94.8471615720524%, 95.60234541577826% 96.63755458515284%, 92.5639658848614% 97.68558951965065%, 91.49786780383795% 97.90393013100437%, 90.43176972281451% 98.16593886462883%, 88.57942430703625% 98.51528384279476%, 87.77985074626866% 98.47161572052401%, 86.96695095948827% 98.42794759825327%, 85.3411513859275% 97.90393013100437%, 83.71535181236673% 97.90393013100437%, 81.0501066098081% 97.33624454148472%, 78.19829424307036% 97.24890829694323%, 77.38539445628999% 97.24890829694323%, 76.42590618336888% 97.07423580786026%, 74.72014925373134% 96.33187772925764%, 71.74840085287848% 96.46288209606986%, 70.54904051172709% 95.76419213973799%, 68.9232409381663% 95.76419213973799%, 67.4040511727079% 95.10917030567686%, 66.48454157782517% 95.06550218340611%, 65.56503198294243% 94.97816593886463%, 64.39232409381663% 94.54148471615721%, 62.81982942430704% 94.54148471615721%, 61.79371002132196% 94.23580786026201%, 60.820895522388064% 94.32314410480349%, 60.48773987206823% 93.93013100436681%, 59.98134328358209% 93.75545851528383%, 39.97867803837953% 93.7991266375546%, 33.035714285714285% 93.7991266375546%, 30.850213219616208% 93.58078602620087%, 29.384328358208954% 93.58078602620087%, 27.85181236673774% 94.49781659388647%, 26.385927505330493% 94.36681222707423%, 24.933368869936036% 94.54148471615721%, 24.33368869936034% 94.54148471615721%, 22.441364605543708% 95.32751091703057%, 20.68230277185501% 95.1528384279476%, 20.1226012793177% 95.02183406113537%, 18.53678038379531% 95.85152838427948%, 17.32409381663113% 96.15720524017468%, 15.391791044776118% 96.33187772925764%, 14.085820895522389% 96.50655021834062%, 11.966950959488273% 97.29257641921397%, 9.208422174840084% 97.64192139737992%, 0% 99.86899563318778%, 0% 5.021834061135371%, 4.1711087420042645% 3.4934497816593884%, 7.156183368869937% 2.532751091703057%, 8.155650319829425% 2.3580786026200875%, 9.541577825159916% 2.052401746724891%, 10.887526652452026% 1.8777292576419216%, 14.35234541577825% 2.1397379912663754%, 17.48400852878465% 2.3580786026200875%, 18.949893390191896% 2.445414847161572%, 25.186567164179102% 3.5371179039301306%, 35.02132196162047% 5.37117903930131%, 40.56503198294243% 6.419213973799126%, 44.016524520255864% 7.074235807860261%, 45.868869936034116% 7.423580786026202%, 46.61513859275053% 7.467248908296943%, 50.18656716417911% 7.903930131004366%, 57.635927505330486% 7.554585152838428%, 61.46055437100213% 7.292576419213974%, 62.75319829424307% 7.248908296943231%, 67.44402985074626% 6.812227074235808%, 69.05650319829424% 6.593886462882097%, 70.25586353944563% 6.419213973799126%, 71.40191897654584% 5.895196506550218%, 72.21481876332622% 5.720524017467249%, 72.92110874200426% 5.807860262008734%, 73.76066098081023% 5.982532751091703%, 75.79957356076758% 5.807860262008734%, 76.9456289978678% 5.545851528384279%, 79.42430703624733% 4.585152838427948%, 80.41044776119402% 4.45414847161572%, 85.72761194029852% 3.5371179039301306%, 87.04690831556503% 3.2314410480349345%, 88.56609808102345% 2.8820960698689957%, 90.64498933901919% 2.4017467248908297%, 93.65671641791045% 1.703056768558952%, 94.53624733475479% 1.572052401746725%, 97.92110874200426% 0.5240174672489083%);
        }
      }
    }

    .fcs-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      z-index: 2;

      @media screen and (max-width: $xs-tablet) {
        flex-direction: column;
      }

      .card-img {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        max-width: 37.1rem;
        margin-left: 10rem;

        @media screen and (max-width: $xs-tablet) {
          width: 100%;
          margin: 0 auto;
          margin-bottom: 4rem;
        }

        img {
          max-width: 100%;
          margin-top: -4rem;
          margin-left: auto;
          margin-right: auto;

          @media screen and (max-width: $xs-tablet) {
            margin-top: -16rem;
          }
        }
      }

      .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        width: 50%;

        @media screen and (max-width: $xs-tablet) {
          width: 100%;
          text-align: center;
        }

        .title {
          margin-bottom: 2.7rem;
          font-size: 5.2rem;
          line-height: 1;
          font-weight: 500;
          font-family: $primaryType;

          @media screen and (max-width: $xs-tablet) {
            margin-bottom: 2rem;
          }

          @media screen and (max-width: $mid-mobile) {
            margin-left: 5%;
          }

          .script-text {
            display: inline-block;
            font-family: $secondaryType;
            font-size: 4rem;
            color: $green300;
            margin-right: 0.23em;
          }
        }

        p {
          margin-bottom: 0;
          color: $black;

          @media screen and (max-width: $xs-tablet) {
            font-size: 1.8rem;
          }
          @media screen and (max-width: $mid-mobile) {
              margin-bottom: 0;
              margin-left: 5%;
          }

          & + .btn-wrapper {
            margin-top: 5.8rem;
            @media screen and (max-width: $mid-desktop) {
              margin-top: 0;

              .apple-store img {
                width: 210px;
              }
              .google-play {
                margin-top: 0;
                 & img {
                  width: 180px;
                }
              }
            }
          }
        }

        .btn-wrapper {
          justify-content: flex-start;
          display: flex;
          margin-top: 0;

          @media screen and (max-width: $xs-tablet) {
            justify-content: center;
          }

          @media screen and (max-width: $mid-mobile) {
            flex-direction: column;
          }

          a {
            @media screen and (max-width: $mid-mobile) {
              text-align: center;
              padding: 1.9rem 3.4rem;
            }

            & + a {
              margin-left: 3rem;

              @media screen and (max-width: $mid-mobile) {
                margin-left: 0;
                margin-top: 3rem;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $xs-tablet) {
    .fluid-card-row:last-child {
      margin-bottom: calc(3rem + 4.53vw);
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 4.53vw;
        position: absolute;
        bottom: 0;
        transform: translateY(100%) translateY(-2px);
        left: 0;
        z-index: 2;
        clip-path: polygon(0% 0%, 100% 0%, 100% 17.647058823529413%, 74.66666666666667% 64.70588235294117%, 62.133333333333326% 88.23529411764706%, 52.53333333333333% 100%, 32% 100%, 24% 94.11764705882352%, 10.933333333333334% 82.35294117647058%, 0% 70.58823529411765%, 0% 0%);
      }
    }

    .fluid-card-row:first-child {
      margin-top: calc(6rem + 4.53vw);
      padding-top: 0;
      .fcs-container {
        transform: translateY(-11rem);
        margin-bottom: -11rem;
      }

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 4.53vw;
        position: absolute;
        top: 0;
        transform: translateY(-100%) translateY(2px);
        z-index: 2;
        left: 0;
        clip-path: polygon(0% 100%, 100% 100%, 100% 82.35294117647058%, 74.66666666666667% 35.294117647058826%, 62.133333333333326% 11.76470588235294%, 52.53333333333333% 0%, 32% 0%, 24% 5.88235294117647%, 10.933333333333334% 17.647058823529413%, 0% 29.411764705882355%, 0% 100%)
      }
    }
  }
  
  // Themes and Alignment and Wave
  &.mint-theme {
    .bg-helper,
    &:after,
    &:before {
      background-color: $green1100;
    }

    &.wave-top {
      &:before {
        @media screen and (max-width: $xs-tablet){
          background: $green1100;
        }
      }
    }
  }

  &.mandarin-theme {
    .bg-helper,
    &:after,
    &:before {
      background-color: $mandarin700;
    }

    &.wave-top {
      &:before {
        @media screen and (max-width: $xs-tablet){
          background: $mandarin700;
        }
      }
    }
  }
  
  &.gold-theme {
    .bg-helper,
    &:after,
    &:before {
      background-color: $gold600;
    }

    &.wave-top {
      &:before {
        @media screen and (max-width: $xs-tablet){
          background: $gold600;
        }
      }
    }
  }

  &.blue-theme {
    .bg-helper,
    &:after,
    &:before {
      background-color: $blue600;
    }

    &.wave-top {
      &:before {
        @media screen and (max-width: $xs-tablet){
          background: $blue600;
        }
      }
    }
  }

  &.wave-top {
    padding-top: 6.2rem;
    position: relative;
    
    @media screen and (max-width: $xs-tablet) {
      padding-top: 0;
    }

    &:before {
      @media screen and (max-width: $xs-tablet) {
        content: "";
        background: $beige600;
        display: block;
        width: 100%;
        height: 4.53vw;
        position: absolute;
        top: 0;
        transform: translateY(-100%) translateY(.2rem) ;
        z-index: 2;
        left: 0;
        clip-path: polygon(0% 100%, 100% 100%, 100% 82.35294%, 74.66667% 35.29412%, 62.13333% 11.76471%, 52.53333% 0%, 32% 0%, 24% 5.88235%, 10.93333% 17.64706%, 0% 29.41176%, 0% 100%);
      }
    }
  }

  &.right {
    .fcs-container {
      flex-direction: row-reverse;

      @media screen and (max-width: $xs-tablet) {
        flex-direction: column;
      }

      .card-img {
        justify-content: flex-end;

        @media screen and (max-width: $xs-tablet) {
          justify-content: flex-start;
        }
      }

      .card-content {
        text-align: right;

        @media screen and (max-width: $xs-tablet) {
          text-align: left;
        }

        .btn-wrapper {
          justify-content: flex-end;

          @media screen and (max-width: $xs-tablet) {
            justify-content: center;
          }
        }
      }
    }
  }
  //End Themes and Alignment

  .ie & {
    .secondary-app-hero-card-row {
      .fcs-container {
        .card-img {
          display: block;
        }
      }
    }
  }
}
