.tip-callout-component {
  .section-title {
    display: inline-block;
    padding: 2.4rem 3.6rem;
    background: $mandarin700;
    clip-path: polygon(2.697674418604651% 3.7572254335260116%, 4.337767441860465% 2.801734104046243%, 7.416093023255814% 1.9257225433526013%, 8.186046511627906% 1.7341040462427744%, 10.342604651162791% 1.3511560693641618%, 14.046511627906977% 0.8670520231213872%, 23.25581395348837% 0%, 38.604651162790695% 0.5780346820809248%, 42.500837209302325% 1.2367052023121388%, 45.97990697674418% 1.988150289017341%, 51.580930232558146% 3.416763005780347%, 55.25860465116279% 4.441329479768787%, 55.906976744186046% 4.624277456647398%, 62.40511627906977% 6.329479768786126%, 66.92958139534885% 7.325722543352602%, 72.85609302325581% 8.328612716763006%, 75.81395348837209% 8.670520231213873%, 77.15348837209302% 8.792196531791907%, 82.11544186046511% 9.070809248554914%, 85.95302325581396% 8.959537572254336%, 89.24604651162791% 8.373410404624277%, 91.80493023255815% 7.684971098265896%, 94.60409302325581% 6.6473988439306355%, 96.46455813953487% 6.6473988439306355%, 97.58083720930232% 7.514450867052023%, 98.6040930232558% 9.53757225433526%, 99.53432558139535% 13.294797687861271%, 99.99944186046511% 18.047976878612715%, 99.99944186046511% 95.95375722543352%, 99.3733953488372% 95.70751445086707%, 97.20595348837209% 94.95606936416185%, 91.84% 93.49421965317919%, 86.9146976744186% 92.56127167630058%, 81.23237209302326% 91.94248554913294%, 75.23627906976745% 91.83439306358382%, 73.58046511627907% 91.90809248554913%, 69.72148837209302% 92.21849710982659%, 65.50632558139536% 92.7320809248555%, 58.742604651162786% 93.88092485549132%, 55.72093023255814% 94.50867052023122%, 50.44548837209302% 95.70895953757226%, 45.38995348837209% 96.88612716763005%, 42.562046511627905% 97.52485549132948%, 42.342790697674424% 97.57312138728324%, 34.61060465116279% 99.08757225433527%, 30.473209302325582% 99.6656069364162%, 26.232558139534884% 100%, 22.153953488372093% 100.02167630057804%, 18.697674418604652% 100%, 15.908% 99.79566473988439%, 13.674418604651162% 99.42196531791907%, 10.769302325581394% 99.01734104046244%, 8.093023255813954% 98.55491329479769%, 5.087813953488372% 97.77196531791907%, 2.697674418604651% 97.10982658959537%, 0% 91.23468208092487%, 0% 16.047687861271676%, 0.48046511627906974% 9.232080924855492%, 1.6768372093023256% 5.4%, 2.697674418604651% 3.7572254335260116%);

    h1, h2, h3, h4, h5, h6, span {
      text-align: left;
    }
  }

  .tip-callout-wrapper {
    display: flex;
    align-items: center;
    margin-top: -2.4rem;

    @media screen and (max-width: $xs-small-tablet) {
      flex-flow: column;
      margin-top: -1rem;
    }

    .tip-content {
      padding: 3.6rem 12rem 3.6rem 7.4rem;
      font-size: 2.4rem;
      text-align: center;
      position: relative;
      z-index: 2;
      min-height: 18rem;

      @media screen and (max-width: $xs-small-tablet) {
        padding: 4rem 1.8rem 12rem;
      }

      p {
        max-width: 57.4rem;
        font-size: 2.4rem;

        @media screen and (max-width: $xs-small-tablet) {
          max-width: 100%;
        }
      }
      
      .bg-helper {
        background: $beige600;
        clip-path: polygon(0% 0%, 98.83908406524466% 0%, 99.17534504391469% 0.3068723702664797%, 99.435382685069% 0.9817671809256662%, 99.62358845671268% 1.6830294530154277%, 99.84316185696362% 3.0855539971949506%, 99.93726474278544% 4.067321178120617%, 100% 5.329593267882188%, 100% 91.22819074333802%, 99.62358845671268% 94.81065918653576%, 99.0276035131744% 96.4936886395512%, 98.2707026348808% 96.76647966339411%, 97.14209535759096% 97.08401122019634%, 95.29485570890841% 97.47545582047685%, 93.76035131744041% 97.74095371669004%, 92.50094102885821% 97.91037868162692%, 90.43287327478042% 98.03660589060308%, 87.89617314930992% 98.06465638148669%, 84.9491844416562% 98.1039270687237%, 79.85319949811793% 97.31374474053295%, 76.16060225846925% 96.35343618513323%, 69.86323713927226% 94.77671809256663%, 69.13425345043915% 94.67040673211781%, 67.88393977415306% 94.5328190743338%, 66.7719573400251% 94.44165497896213%, 64.22271016311167% 94.36774193548388%, 63.56493099121706% 94.37798036465638%, 63.14303638644918% 94.3899018232819%, 62.365432873274784% 94.44600280504909%, 61.97365119196989% 94.44151472650772%, 60.72553324968632% 94.51164095371671%, 60.20294855708909% 94.5711079943899%, 59.796737766624844% 94.60855539971949%, 59.27697616060226% 94.66030855539972%, 58.96016311166876% 94.69382889200561%, 58.44730238393977% 94.7516129032258%, 57.233061480552074% 94.90336605890603%, 56.14554579673777% 95.05596072931277%, 55.501882057716436% 95.15301542776999%, 55.12421580928481% 95.21206171107994%, 54.5241530740276% 95.30925666199158%, 53.87609786700125% 95.41809256661992%, 53.23368883312421% 95.53029453015426%, 52.57936010037641% 95.64796633941094%, 51.86323713927228% 95.7805049088359%, 51.03199498117943% 95.93884992987377%, 49.87547051442911% 96.1663394109397%, 49.0530112923463% 96.33225806451614%, 48.32214554579674% 96.4820476858345%, 47.210163111668756% 96.71318373071529%, 46.485570890840656% 96.86535764375877%, 43.51474278544542% 97.49270687237028%, 42.66436637390213% 97.67040673211781%, 41.2719573400251% 97.9570827489481%, 40.42063989962358% 98.12833099579242%, 39.646800501882055% 98.28064516129032%, 38.8387703889586% 98.43576437587657%, 38.41373902132999% 98.51542776998598%, 37.1486825595985% 98.74403927068724%, 35.11480552070264% 99.07910238429172%, 32.30175658720201% 99.4577840112202%, 31.11668757841907% 99.58036465638149%, 23.117942283563362% 100.00112201963536%, 19.542032622333753% 100.00112201963536%, 12.781336260978671% 99.38022440392707%, 11.417816813048933% 99.15848527349227%, 8.331744040150564% 98.62286115007012%, 7.5410288582183185% 98.4625525946704%, 5.580552070263487% 98.01935483870969%, 4.478638644918444% 97.73800841514726%, 3.860414052697616% 97.56844319775595%, 2.328481806775408% 97.10252454417953%, 1.7879548306148056% 96.91444600280505%, 0.9241217063989962% 96.17727910238429%, 0.2977728983688833% 94.5319775596073%, 0% 91.28779803646563%, 0% 0%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }
    }

    .tip-image {
      width: 100%;
      max-width: 209px;
      margin-left: -6.4rem;
      z-index: 2;

      @media (max-width: $xs-small-tablet) {
        margin-top: -10rem;
        margin-left: 0;
      }
    }
  }
}

.section-component {
  .tip-callout-component {
    .section-title {
      .script-text {
        color: $black;
        margin-right: 0.23em;
      }
    }
  }
}