.show-mobile {
  @media screen and (min-width: $small-tablet) {
    display: none !important;
  }
}

.hide-mobile {
  @media screen and (max-width: $xs-tablet) {
    display: none !important;
  }
}

.text-right {
  text-align: right !important;
}

.center-block {
  margin-left: auto !important;
  margin-right: auto !important;
}

.no-scroll {
  overflow: hidden !important;
}

.img-responsive {
  width: auto;
  max-width: 100%;
  display: block;
}