#bookableCustTransPromoSMS {
    margin-top: 17px
}

#bookableCustTransPromoSMS a {
    text-decoration: none
}

#bookableCustTransPromoSMS a:visited {
    color: #308dff
}

#bookableCustTransPromoSMS #transPromoTitle {
    margin-bottom: 7px
}

#bookableCustTransPromoSMS .mobilePhoneBoxes {
    display: block
}

#bookableCustTransPromoSMS .mobilePhoneBoxes .inputs {
    line-height: 1.8px;
    width: 96%
}

#bookableCustTransPromoSMS .divider,
#rd-main .divider {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ededed
}

#bookableCustTransPromoSMS ul,
#rd-main ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none
}

#bookableCustTransPromoSMS .rd-detail header,
#rd-main .rd-detail header {
    background-color: #e9ecf2;
    padding: 15px 10px
}

#bookableCustTransPromoSMS .rd-detail header .rd-title,
#rd-main .rd-detail header .rd-title {
    font-size: 1.3em
}

#bookableCustTransPromoSMS .rd-detail header .rd-subtotal,
#rd-main .rd-detail header .rd-subtotal {
    font-size: 2.0em
}

#bookableCustTransPromoSMS .click-indicator,
#rd-main .click-indicator {
    background-color: #ededed
}

#bookableCustTransPromoSMS .rd-detail,
#rd-main .rd-detail {
    color: #555
}

#bookableCustTransPromoSMS .rate-separator,
#rd-main .rate-separator {
    border-top: 1px solid #dadada;
    padding-bottom: 10px
}

#bookableCustTransPromoSMS .rate-type-box,
#rd-main .rate-type-box {
    margin-top: -21px
}

#bookableCustTransPromoSMS .rd-box,
#rd-main .rd-box {
    background-color: #fff;
    border: 1px solid #dadada;
    margin-bottom: 10px
}

#bookableCustTransPromoSMS .rd-box:first-child,
#rd-main .rd-box:first-child {
    margin-top: 10px
}

#bookableCustTransPromoSMS .rd-box:last-child,
#rd-main .rd-box:last-child {
    margin-bottom: 0px
}

#bookableCustTransPromoSMS .rd-center,
#rd-main .rd-center {
    text-align: center
}

#bookableCustTransPromoSMS .rd-sub-heading,
#rd-main .rd-sub-heading {
    text-transform: uppercase;
    font-weight: bold
}

#bookableCustTransPromoSMS .rd-sub-heading-catagories,
#rd-main .rd-sub-heading-catagories {
    text-transform: uppercase;
    font-weight: bold
}

#bookableCustTransPromoSMS .p-t-10,
#rd-main .p-t-10 {
    padding-top: 10px
}

#bookableCustTransPromoSMS .rd-miles,
#rd-main .rd-miles {
    margin-bottom: 10px;
    width: 100% !important
}

#bookableCustTransPromoSMS .rd-info,
#rd-main .rd-info {
    padding: 10px
}

#bookableCustTransPromoSMS .rd-info-left,
#rd-main .rd-info-left {
    vertical-align: top;
    display: inline-block;
    width: 80%;
    text-align: left
}

#bookableCustTransPromoSMS .rd-link-right,
#rd-main .rd-link-right {
    vertical-align: top;
    display: inline-block;
    width: 18%;
    text-align: right
}

#bookableCustTransPromoSMS .rd-link-right a,
#rd-main .rd-link-right a {
    cursor: pointer
}

#bookableCustTransPromoSMS .rd-name,
#rd-main .rd-name {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 2px;
    width: 60%
}

#bookableCustTransPromoSMS .rd-price,
#rd-main .rd-price {
    display: inline-block;
    vertical-align: top;
    width: 38.5%;
    text-align: right
}

#bookableCustTransPromoSMS .rd-text,
#rd-main .rd-text {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 2px;
    width: 84%
}

#bookableCustTransPromoSMS .rd-icons-info,
#rd-main .rd-icons-info {
    cursor: pointer;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    display: inline-block
}

#bookableCustTransPromoSMS .rd-vehicle figcaption,
#rd-main .rd-vehicle figcaption {
    padding-top: 10px
}

#bookableCustTransPromoSMS .rd-man-rates,
#rd-main .rd-man-rates {
    padding-top: 10px
}

#bookableCustTransPromoSMS .rd-exclusion .rd-text,
#rd-main .rd-exclusion .rd-text {
    width: 85%
}

#bookableCustTransPromoSMS .rd-exclusion .rd-price,
#rd-main .rd-exclusion .rd-price {
    width: 10%;
    text-align: right
}

#bookableCustTransPromoSMS .rd-inclusion .rd-text,
#bookableCustTransPromoSMS .rd-taxes .rd-text,
#rd-main .rd-inclusion .rd-text,
#rd-main .rd-taxes .rd-text {
    width: 60%
}

#bookableCustTransPromoSMS .rd-inclusion .rd-price,
#bookableCustTransPromoSMS .rd-taxes .rd-price,
#rd-main .rd-inclusion .rd-price,
#rd-main .rd-taxes .rd-price {
    width: 33%
}

#bookableCustTransPromoSMS .rd-extras-detail-link,
#rd-main .rd-extras-detail-link {
    display: none
}

#bookableCustTransPromoSMS .rd-extra-remove-link,
#rd-main .rd-extra-remove-link {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 0;
    margin-right: 5px;
    cursor: pointer
}

#bookableCustTransPromoSMS .rd-edit-cont,
#rd-main .rd-edit-cont {
    background-color: #ffd100;
    margin: 10px
}

#bookableCustTransPromoSMS .rd-edit-cont .rd-edit-link,
#rd-main .rd-edit-cont .rd-edit-link {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 8px 15px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: none;
    color: #000;
    line-height: 1.625;
    font-weight: bold;
    width: 100%
}

#bookableCustTransPromoSMS .rd-detail.hidden-item,
#rd-main .rd-detail.hidden-item {
    display: none
}

#bookableCustTransPromoSMS .plus,
#bookableCustTransPromoSMS .equals,
#rd-main .plus,
#rd-main .equals {
    display: none
}

#bookableCustTransPromoSMS .rd-opt-rate .rd-name,
#rd-main .rd-opt-rate .rd-name {
    padding-left: 3em;
    width: 45%
}

#bookableCustTransPromoSMS #rd-more,
#rd-main #rd-more {
    margin-top: 10px
}

#bookableCustTransPromoSMS #rd-more .rd-optionals .rd-sub-heading,
#rd-main #rd-more .rd-optionals .rd-sub-heading {
    margin-top: 10px
}

#bookableCustTransPromoSMS #rd-more .rd-opt-detail-link2,
#rd-main #rd-more .rd-opt-detail-link2 {
    display: none
}

#bookableCustTransPromoSMS #rd-more .rd-view-options-link,
#rd-main #rd-more .rd-view-options-link {
    display: inline-block;
    text-transform: lowercase;
    text-align: top;
    margin-top: 5px;
    cursor: pointer;
    color: #355ad8
}

#bookableCustTransPromoSMS #rd-more .rd-opt-detail-icon,
#rd-main #rd-more .rd-opt-detail-icon {
    display: inline-block;
    text-align: top;
    margin: 10px 0 0 3px
}

#bookableCustTransPromoSMS #rd-more .rd-fuel-option,
#bookableCustTransPromoSMS #rd-more .rd-currency-converter,
#bookableCustTransPromoSMS #rd-more .rd-full-detail,
#rd-main #rd-more .rd-fuel-option,
#rd-main #rd-more .rd-currency-converter,
#rd-main #rd-more .rd-full-detail {
    padding-top: 10px
}

#bookableCustTransPromoSMS #rd-more .rd-currency-converter-link,
#rd-main #rd-more .rd-currency-converter-link {
    cursor: pointer
}

#bookableCustTransPromoSMS #rd-more .rd-full-detail,
#rd-main #rd-more .rd-full-detail {
    display: none
}

#bookableCustTransPromoSMS #rd-more .rd-full-link,
#rd-main #rd-more .rd-full-link {
    display: none
}

#bookableCustTransPromoSMS #rd-more footer,
#rd-main #rd-more footer {
    padding-top: 10px;
    font-size: 0.9em
}

#rd-main.rd-state0 #rd-more.hidden-item,
#rd-main.rd-state1 #rd-more.hidden-item {
    display: none
}

.rd-veh-details figure {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 0px;
    padding: 0px;
    border: 1px solid #ededed;
    vertical-align: top;
    width: 152px
}

.rd-veh-details figure figcaption {
    text-align: center;
    padding: 5px 0px;
    font-size: 0.8em;
    font-weight: bold
}

.rd-veh-details .rd-veh-icon {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    margin: 0px 5px
}

.rd-veh-details .rd-veh-infos {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding-right: 10px
}

.rd-veh-details .rd-veh-infos ul {
    margin: 0px;
    padding: 0px;
    margin-left: 15px
}

.rd-veh-details footer {
    margin-top: 10px
}

.rd-extras-detail figure {
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: center
}

.rd-extras-detail figure figcaption {
    display: block;
    margin: 10px
}

.lb-foreground-cont #rd-main.rd-state2 #rd-rate .rd-detail.hidden-item,
.lb-foreground-cont #rd-main.rd-state3 #rd-rate .rd-detail.hidden-item {
    display: block
}

.lb-foreground-cont #rd-main.rd-state2 #rd-rate #rd-optional-info,
.lb-foreground-cont #rd-main.rd-state3 #rd-rate #rd-optional-info {
    margin-top: 10px
}

.rd-digitalWallet {
    padding: 10px 10px;
    margin-bottom: 10px;
    text-align: center
}

.rd-digitalWallet .rd-digitalWallet-image {
    width: 70%
}

#res-itinerary-1 {
    margin-bottom: 10px
}

#res-itinerary-1 label,
#res-itinerary-1 .itn-container {
    color: #555
}

#res-itinerary-1 .hidden-xs {
    display: none
}

#res-itinerary-1 .visible-xs {
    display: block
}

#res-itinerary-1 .pull-left {
    float: left
}

#res-itinerary-1 .divider {
    padding-top: 5px;
    padding-bottom: 0px;
    margin-top: 10px
}

#res-itinerary-1 .itn-edit-cont {
    width: 100%;
    background-color: #ffd100;
    margin-bottom: 10px
}

#res-itinerary-1 .itn-edit-cont .itn-edit-link {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 15px 15px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: none;
    color: #000;
    line-height: 1.625;
    font-weight: bold;
    width: 100%
}

#res-itinerary-1 label {
    font-weight: bold;
    display: block;
    margin: 7px 0 1px 0;
    cursor: default
}

#res-itinerary-1 header {
    background-color: #fdf11b;
    padding: 10px
}

#res-itinerary-1 header .itn-header-crtl {
    float: left;
    margin-right: 3px;
    cursor: pointer;
    margin-top: 3px
}

#res-itinerary-1 header .itn-title {
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer
}

#res-itinerary-1 header .itn-edit-cont {
    float: right
}

#res-itinerary-1 header .itn-edit-cont .itn-edit-link {
    text-decoration: underline;
    cursor: pointer
}

#res-itinerary-1 .itn-container {
    background-color: #fff;
    padding: 0 10px
}

#res-itinerary-1 .itn-container .itn-pickup-return-time .itn-return-time {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    border: none
}

#res-itinerary-1 .itn-container .itn-location-header {
    overflow: hidden
}

#res-itinerary-1 .itn-container .itn-location-header .itn-location-container {
    width: 80%;
    float: left
}

#res-itinerary-1 .itn-container .itn-location-header .int-loc-crtl {
    margin-top: 5px;
    float: right;
    width: 20%
}

#res-itinerary-1 .itn-container .itn-location-header .int-loc-crtl .loc-view-link2 {
    display: none
}

#res-itinerary-1 .itn-container .itn-location-header .int-loc-crtl .itn-loc-detail-link {
    cursor: pointer;
    color: #355ad8;
    text-align: right
}

#res-itinerary-2 {
    background-color: #fff;
    margin-top: 10px
}

#res-itinerary-2 .hidden-xs {
    display: none
}

#res-itinerary-2 .visible-xs {
    display: block
}

#res-itinerary-2 .pull-left {
    float: left
}

#res-itinerary-2 label {
    font-weight: bold;
    display: block;
    margin: 7px 0 1px 0;
    cursor: default
}

#res-itinerary-2 header {
    background-color: #fdf11b;
    padding: 10px
}

#res-itinerary-2 header .itn-title {
    float: left;
    font-size: 1.2em;
    font-weight: bold
}

#res-itinerary-2 header .itn-edit-cont {
    float: right
}

#res-itinerary-2 header .itn-edit-cont .itn-edit-link {
    text-decoration: underline;
    cursor: pointer
}

#res-itinerary-2 .click-indicator {
    padding-bottom: 10px;
    background-color: #ededed
}

#res-itinerary-2 .itn-edit-cont {
    width: 100%;
    background-color: #ffd100;
    margin-bottom: 10px
}

#res-itinerary-2 .itn-edit-cont .itn-edit-link {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 8px 15px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: none;
    color: #000;
    line-height: 1.625;
    font-weight: bold;
    width: 100%
}

#res-itinerary-2 .itn-container {
    margin: 3px 10px 0
}

#res-itinerary-2 .itn-container .int-loc-tm-info .int-loc-cont .itn-location-header {
    overflow: hidden
}

#res-itinerary-2 .itn-container .int-loc-tm-info .int-loc-cont .itn-location-header label {
    float: left;
    width: 80%
}

#res-itinerary-2 .itn-container .int-loc-tm-info .int-loc-cont .itn-location-header .int-loc-crtl {
    float: right;
    width: 20%;
    margin-top: 5px
}

#res-itinerary-2 .itn-container .int-loc-tm-info .int-loc-cont .itn-location-header .int-loc-crtl .loc-view-link2 {
    display: none
}

#res-itinerary-2 .itn-container .int-loc-tm-info .int-loc-cont .itn-location-header .int-loc-crtl .itn-loc-detail-link {
    text-align: right;
    cursor: pointer;
    color: #355ad8
}

#res-itinerary-2 .itn-container .int-loc-tm-info .int-loc-map-info {
    display: none
}

#res-itinerary-2 .itn-container .int-misc-info {
    border-top: 1px solid #ededed;
    padding-top: 3px;
    margin-top: 10px
}

#res-itinerary-2 .itn-container .int-misc-info .itn-discounts,
#res-itinerary-2 .itn-container .int-misc-info .itn-arrival-info,
#res-itinerary-2 .itn-container .int-misc-info .itn-age {
    margin-bottom: 10px
}

#res-itinerary-2 .itn-container .int-misc-info .itn-arrival-info label a {
    font-weight: normal;
    text-decoration: none
}

.gold-anytime-info {
    margin-top: 5px;
    font-weight: bold
}

.gold-anytime-info span {
    display: inline-block;
    vertical-align: middle
}

.gold-anytime-info .icons-info_sm {
    cursor: pointer;
    margin-left: 2px
}

.hidden-item {
    display: none
}

#steps {
    display: none
}

#steps ul li {
    float: left;
    width: 25%;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    font-family: "Ride", Montserrat, Trebuchet MS, Helvetica, sans-serif
}

#steps ul li.current {
    font-size: 14px
}

#steps ul li.current div.bar {
    border-bottom: 10px solid #ffd100
}

#steps ul li.next {
    color: #969696
}

#steps ul li.next div.bar {
    border-bottom: 10px solid #c4c4c4
}

#steps ul li:last-child span.wrapper,
#steps ul li:last-child div.bar {
    margin-right: 0px
}

#steps ul span.wrapper {
    margin-left: 5px;
    margin-right: 5px
}

#steps ul span.wrapper a {
    color: #355ad8;
    font-family: "Ride", Muli, Helvetica, Arial, sans-serif
}

#steps ul span.wrapper a:visited {
    color: #355ad8;
    font-family: "Ride", Muli, Helvetica, Arial, sans-serif
}

#steps ul div.bar {
    border-bottom: 10px solid #c4c4c4;
    margin-right: 5px
}

.lt-ie8 #steps ul li {
    width: 24.9%
}

.offsell-overlay h1 {
    font-size: 1.2em
}

.offsell-overlay h2 {
    font-size: 1em
}

.offsell-overlay li {
    margin: 7px 0px;
    border-bottom: 1px solid #444
}

.offsell-overlay li.title {
    border-bottom: 0px;
    list-style: none
}

.offsell-overlay span {
    position: relative;
    bottom: -2px;
    background-color: #fff
}

.offsell-overlay span.number {
    padding-left: 2px;
    float: right
}

.lt-ie8 .offsell-overlay span.number {
    top: -14px
}

.decision-overlay .decision {
    overflow: hidden
}

.decision-overlay strong {
    font-size: 1.8em
}

.decision-overlay button {
    width: 100%
}

.decision-overlay div.wrapper {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-bottom: -40px
}

.decision-overlay div.wrapper .city-special-vehicle .city-special-heading {
    background-color: #F8F018;
    padding: 10px;
    color: #005878;
    font-weight: bold;
    font-size: 14px
}

.decision-overlay div.wrapper .city-special-vehicle .city-special-heading .more-info {
    display: none
}

.decision-overlay div.wrapper .city-special-vehicle .city-special-rate {
    background-color: #2888F8;
    padding: 10px;
    margin-top: 1px;
    color: #fff
}

.decision-overlay div.wrapper .city-special-vehicle .non-discount-price {
    text-decoration: line-through
}

.decision-overlay div.wrapper .city-special-vehicle .non-discount-price strong {
    font-size: 13px
}

.decision-overlay div.wrapper .city-special-vehicle button {
    background-color: #fff;
    color: #1A5BAB;
    margin-top: 15px
}

.decision-overlay div.wrapper .city-special-vehicle button:hover,
.decision-overlay div.wrapper .city-special-vehicle button:focus {
    background-color: #FCF235
}

.decision-overlay div.wrapper span.select-another p {
    margin: 0;
    padding: 0
}

#rental-agreement {
    padding: 15px
}

#rental-agreement div.wrapper {
    color: #666666
}

#evrental-agreement {
    padding: 15px
}

#evrental-agreement div.wrapper {
    color: #666666
}

.gold-anytime-detailed-info h2 {
    margin: 0 0 5px;
    font-weight: normal
}

.gold-anytime-detailed-info p {
    margin: 0
}

.gold-anytime-detailed-info .ga-step-cont {
    margin: 10px 0
}

.gold-anytime-detailed-info .ga-step-heading {
    font-weight: bold;
    text-align: center;
    width: 25%
}

.gold-anytime-detailed-info .ga-step {
    display: table-row
}

.gold-anytime-detailed-info .ga-step-img {
    display: table-cell;
    width: 25%
}

.gold-anytime-detailed-info .ga-step-img img {
    width: 100%
}

.gold-anytime-detailed-info .ga-step-desc {
    width: 75%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px
}

#ga-banner-in-overlay .gold-anytime-banner {
    background-color: #555555;
    padding: 10px;
    color: #fff;
    margin-top: 5px;
    text-align: center
}

#ga-banner-in-overlay .gold-anytime-banner .gold-anytime-steps {
    width: 80%;
    margin: 0 auto
}

#ga-banner-in-overlay .gold-anytime-banner .ga-info {
    display: none
}

#ga-banner-in-overlay .gold-anytime-banner .gold-anytime-step-desc {
    display: none
}

#ga-banner-in-overlay .gold-anytime-banner .step {
    float: left;
    text-align: center;
    width: 33.3%
}

#ga-banner-in-overlay .gold-anytime-banner .step img {
    width: 85%
}

#ga-banner-in-overlay .gold-anytime-banner .step .gold-anytime-step-heading {
    font-weight: bold;
    margin-bottom: 2px
}

#cancel-fee-overlay .disclaimer {
    font-size: 0.9em
}

#cancel-fee-overlay table {
    width: 100%
}

#cancel-fee-overlay table th {
    text-align: left;
    background-color: #e9ecf2
}

#cancel-fee-overlay table td,
#cancel-fee-overlay table th {
    padding: 15px;
    border: 1px solid #ededed
}

#cancel-fee-overlay table .cancel-period {
    width: 65%
}

#cancel-fee-overlay table .cancel-fee {
    width: 35%
}

#cancel-fee-overlay button.tertiary {
    margin-top: 15px
}

.hod-portal {
    margin: 10px 0 0 15px
}

.hod-portal.vehicle-page {
    margin-left: 0
}

.hod-portal .hod-divider {
    font-weight: bold;
    margin-bottom: 10px
}

.hod-portal p {
    color: #000;
    margin: 0 0 10px 0
}

.hod-portal #hod-redirect {
    padding: 0;
    margin-bottom: 10px;
    list-style-type: none
}

.hod-portal #hod-redirect li {
    padding-bottom: 5px
}

.hod-logo {
    display: block
}

.hod-inner-content {
    margin-top: 10px
}

.gblHref.mobile-info {
    text-decoration: none !important
}

#res-vehicles-page .divider {
    margin-bottom: 10px
}

#res-vehicles-page .itn-edit-cont {
    width: 100%;
    background-color: #308dff;
    margin-bottom: 10px
}

#res-vehicles-page .itn-edit-cont .itn-edit-link {
    display: inline-block;
    margin: 8px 15px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: none;
    color: #fff;
    line-height: 1.625;
    font-weight: bold;
    width: 100%
}

#res-vehicles-page .as-block {
    display: inline-block
}

#res-vehicles-page .price-wrapper {
    padding: 5px 15px 0 15px;
    border-top: 1px solid #efefef
}

#res-vehicles-page .price-wrapper button {
    margin-top: 2px
}

#res-vehicles-page #vehicles {
    margin-bottom: 10px
}

#res-vehicles-page #vehicles div.more-information p {
    background-color: #fff;
    padding: 10px
}

#res-vehicles-page #vehicles div.more-information h3 {
    margin: 0px 0px 2px 0px
}

#res-vehicles-page #vehicles div.more-information span.icons {
    float: left;
    margin-right: 5px
}

#res-vehicles-page #vehicles div.more-information p {
    margin: 0px 0px 10px 0px
}

#res-vehicles-page #vehicles div.rate-message-header p {
    display: block;
    margin: 0px 0px 5px 0px;
    padding: 10px 0 0 10px
}

#res-vehicles-page #vehicles div.rate-message-header p.error {
    color: red
}

#res-vehicles-page #vehicles #age-warning {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #FFFA9F
}

#res-vehicles-page #vehicles div.rate-message {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0px
}

#res-vehicles-page #vehicles div.rate-message p {
    margin: 0px 0px 5px 0px
}

#res-vehicles-page #vehicles div.rate-message p.error {
    color: red
}

#res-vehicles-page #vehicles #hod-vehicles {
    margin: 10px 0;
    background-color: #fff
}

#res-vehicles-page #vehicles .hod-marketing-details .hod-banner {
    background-color: #fff;
    padding: 10px
}

#res-vehicles-page #vehicles .hod-marketing-details .hod-banner .hod-options-vertical-devider {
    display: none
}

#res-vehicles-page #vehicles .hod-marketing-details .hod-banner .res-edit-options {
    text-align: center
}

#res-vehicles-page #vehicles .hod-marketing-details .hod-banner .res-edit-options .edit-reservation,
#res-vehicles-page #vehicles .hod-marketing-details .hod-banner .res-edit-options .keep-looking {
    float: left;
    width: 34%;
    margin: 0 8%
}

#res-vehicles-page #vehicles .hod-marketing-details .hod-banner .res-edit-options .res-edit-icons {
    margin: 0 auto 10px;
    cursor: pointer
}

#res-vehicles-page #vehicles .hod-marketing-details .hod-banner .res-edit-options .edit-res,
#res-vehicles-page #vehicles .hod-marketing-details .hod-banner .res-edit-options .search-location {
    cursor: pointer
}

#res-vehicles-page #vehicles .hod-marketing-details .hod-banner .hod-options-separator {
    margin: 10px 0;
    text-align: center;
    clear: both
}

#res-vehicles-page #vehicles .hod-marketing-details .hod-banner .hod-options-separator .hod-dividing-line {
    text-decoration: line-through
}

#res-vehicles-page #vehicles .hod-marketing-details .hod-banner .hod-options-separator .hod-dividing-text {
    padding: 0 8px;
    font-weight: bold;
    text-transform: uppercase
}

#res-vehicles-page #vehicles .ageAdvisory {
    color: #355ad8;
    text-decoration: underline;
    cursor: pointer
}

#res-vehicles-page #vehicles .ageAdvisory:hover {
    color: #1f3da1
}

#res-vehicles-page #vehicles .ageAdvisory:visited {
    color: #36a
}

.vehicles-list-cont {
    margin: 10px 0px
}

.vehicles-list-cont .features.hidden-item {
    display: none
}

.vehicles-list-cont div.vehicle-header-db {
    margin-left: 10px
}

.vehicles-list-cont div.vehicle-header {
    position: relative;
    padding: 5px 0px;
    color: #000;
    background-color: #e2e2e2;
    margin: 0 0 19px
}

.vehicles-list-cont div.vehicle-header .vehicle-type {
    font-size: 16px;
    font-family: "Ride", Montserrat, Trebuchet MS, Helvetica, sans-serif;
    font-weight: bold;
    padding-right: 10px
}

.vehicles-list-cont div.vehicle-header .mobile-info {
    float: right;
    display: inline-block
}

.vehicles-list-cont div.vehicle-info .image img {
    cursor: pointer
}

.vehicles-list-cont div.links a {
    cursor: pointer
}

.vehicles-list-cont div.features ul {
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
    text-align: left
}

.vehicles-list-cont div.features li {
    padding-bottom: 3px
}

.vehicles-list-cont div.features li span {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline
}

.vehicles-list-cont div.features span.bullet {
    background-image: none;
    background-color: #999;
    margin: 0px 9px 2px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    height: 8px;
    width: 8px
}

.vehicles-list-cont div.features span.transmission {
    background-color: #999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    height: 13px;
    padding: 2px;
    width: 13px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    text-align: center
}

.vehicles-list-cont div.image img {
    cursor: pointer
}

.vehicles-list-cont div.links a {
    cursor: pointer
}

.vehicles-list-cont span.controls,
.vehicles-list-cont span.display-count {
    padding: 5px 0px
}

.vehicles-list-cont select {
    width: auto
}

.vehicles-list-cont span.label {
    margin-right: 5px;
    color: #000;
    font-family: "Ride", Montserrat, Trebuchet MS, Helvetica, sans-serif;
    font-weight: bold
}

.vehicles-list-cont article {
    margin: 10px 0px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.vehicles-list-cont article.selected {
    background-color: #FEFED9;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(50%, #ffffff), color-stop(100%, #fbfcc3));
    background-image: -webkit-linear-gradient(left, #ffffff 50%, #fbfcc3);
    background-image: -moz-linear-gradient(left, #ffffff 50%, #fbfcc3);
    background-image: -o-linear-gradient(left, #ffffff 50%, #fbfcc3);
    background-image: linear-gradient(left, #ffffff 50%, #fbfcc3);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#fbfcc3', GradientType=1 )";
    background-image: linear-gradient(to right, #ffffff 50%, #fbfcc3)
}

.vehicles-list-cont div.headers,
.vehicles-list-cont span.display-count,
.vehicles-list-cont a.reset,
.vehicles-list-cont span.sort-arrows,
.vehicles-list-cont div.vehicle-collection,
.vehicles-list-cont div.sort-header {
    display: none
}

.vehicles-list-cont img,
.vehicles-list-cont div.image {
    width: 114px
}

.vehicles-list-cont div.image {
    float: left
}

.vehicles-list-cont figcaption {
    margin-left: 114px
}

.vehicles-list-cont figcaption a {
    display: none;
    margin: 5px 0px
}

.vehicles-list-cont figcaption span.vehicle-more-details {
    display: none
}

.vehicles-list-cont figcaption p.or-similar {
    margin: 0;
    color: #666666
}

.vehicles-list-cont div.redeem-points-info {
    background-color: #FCEE2D;
    font-size: 1.2em;
    padding: 5px
}

.vehicles-list-cont .vehicle-precise-model:after {
    border-color: #fff89a transparent transparent;
    border-style: solid;
    border-width: 10px;
    bottom: -20px;
    content: "";
    height: 0;
    left: 1em;
    position: absolute;
    width: 0
}

.vehicles-list-cont .vehicle-precise-model:before {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 10px;
    bottom: -21px;
    content: "";
    height: 0;
    left: 1em;
    position: absolute;
    width: 0
}

.vehicles-list-cont .vehicle-precise-model {
    background-color: #fff89a;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0 10px;
    position: relative;
    width: 174px;
    border: 1px solid #999
}

.vehicles-list-cont .vehicle-type-ev {
    background-color: #088764;
    padding: 2px 2px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    width: 40%;
    margin: 4px 0px 0px 0px
}

.vehicles-list-cont span.collection-icon {
    margin: 5px 0px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline
}

.vehicles-list-cont span.collection,
.vehicles-list-cont span.fuel {
    display: none;
    font-size: .9em
}

.vehicles-list-cont span.leaf {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline
}

.vehicles-list-cont div.details {
    margin: 10px 20px 0 0px;
    padding-left: 10px
}

.vehicles-list-cont div.details div.vehicle-collection-mob {
    text-align: right
}

.vehicles-list-cont h1 {
    font-size: 1.3em;
    line-height: 1em;
    margin: 0
}

.vehicles-list-cont span.rate {
    margin-right: 10px
}

.vehicles-list-cont button {
    float: right
}

.vehicles-list-cont div.unpriced {
    text-align: center
}

.vehicles-list-cont div.unpriced button {
    float: none
}

.vehicles-list-cont div.unpriced .soldout-cont {
    color: #ccc;
    border-width: 2px 2px 1px;
    border-style: solid;
    border-color: #ccc;
    text-align: center;
    margin: 0 auto;
    padding: 5px 10px;
    font-weight: bold;
    cursor: default;
    width: 40%
}

.vehicles-list-cont div.unpriced .soldout-cont .soldout-heading {
    font-size: 14px
}

.vehicles-list-cont div.unpriced .soldout-cont div {
    padding-bottom: 0
}

.vehicles-list-cont div.pricing {
    margin-top: 5px
}

.vehicles-list-cont div.pricing div.wrapper {
    padding-bottom: 15px;
    overflow: hidden
}

.vehicles-list-cont div.pricing div.wrapper hr {
    margin: 0;
    padding-bottom: 10px
}

.vehicles-list-cont .city-special-vehicle {
    margin-bottom: 15px
}

.vehicles-list-cont .city-special-vehicle .city-special-rate .city-specials-heading {
    background-color: #F8F018;
    padding: 10px;
    color: #005878;
    font-weight: bold;
    font-size: 14px
}

.vehicles-list-cont .city-special-vehicle .city-special-rate .city-specials-heading .more-info {
    display: none
}

.vehicles-list-cont .city-special-vehicle .city-special-rate div.wrapper {
    background-color: #2888F8;
    padding: 10px;
    margin-top: 1px;
    color: #fff
}

.vehicles-list-cont .city-special-vehicle .city-special-rate .non-discount-price {
    text-decoration: line-through
}

.vehicles-list-cont .city-special-vehicle .city-special-rate button.priced {
    background-color: #fff;
    color: #1A5BAB
}

.vehicles-list-cont .city-special-vehicle .city-special-rate button:hover,
.vehicles-list-cont .city-special-vehicle .city-special-rate button:focus {
    background-color: #FCF235
}

.vehicles-list-cont strong.price {
    font-size: 17px;
    font-weight: bold
}

.vehicles-list-cont span.approx-total-price {
    font-size: 17px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline
}

.vehicles-list-cont span.approx-total-price span.approx {
    font-size: 13px
}

.vehicles-list-cont span.approx-total-price .show-rate-details {
    cursor: pointer;
    display: inline;
    text-decoration: underline;
    font-size: 17px
}

.vehicles-list-cont span.approx-total-price .show-rate-details span.approx {
    font-size: 13px
}

.vehicles-list-cont strong.save {
    color: green;
    font-size: 1.2em;
    white-space: nowrap
}

.vehicles-list-cont span.mileage,
.vehicles-list-cont div.icons-soldout,
.vehicles-list-cont div.banner,
.vehicles-list-cont div.more-details {
    display: none
}

.vehicles-list-cont div.disclaimer {
    padding: 0 15px
}

.vehicles-list-cont span.conversion,
.vehicles-list-cont span.phone {
    white-space: nowrap
}

.vehicles-list-cont span.similar-info {
    display: none
}

.vehicles-list-cont .list-controls .show-all {
    display: none
}

.vehicles-list-cont .includes {
    padding: 0 15px
}

.vehicles-list-cont .vehicle-soldout-friendly-msg {
    background-color: #fff
}

.vehicles-list-cont .vehicle-soldout-friendly-msg .vehicle-header {
    font-weight: bold
}

.vehicles-list-cont .vehicle-soldout-friendly-msg .vehicle-info {
    padding: 0 10px 10px
}

.vehicles-list-cont .vehicle-soldout-friendly-msg .vehicle-info .soldout-msg {
    float: left
}

.vehicles-list-cont .vehicle-soldout-friendly-msg .vehicle-info .soldout-msg p {
    line-height: 1.7em
}

.vehicles-list-cont .vehicle-soldout-friendly-msg .vehicle-info img {
    cursor: default
}

.vehicles-list-cont .vehicle-soldout-friendly-msg .vehicle-info .links .show-soldout-vehicles {
    float: right;
    clear: both;
    margin-top: 10px
}

.vehicles-list-cont .vehicle-soldout-friendly-msg .vehicle-info .links .sold-out-arrow {
    margin: 4px 0 0 5px;
    display: inline-block
}

.vehicles-list-cont .vehicle-soldout-friendly-msg a {
    text-decoration: none;
    font-weight: bold;
    color: #2E8CFF
}

.hertzVehicles .rate-message,
.hertzVehicles .more-information {
    display: block
}

.hodVehicles .rate-message,
.hodVehicles .more-information {
    display: none
}

.hod-marketing-details .hod-banner {
    text-align: center
}

.hod-marketing-details .hod-banner .hod-24X7-img {
    cursor: pointer;
    float: left;
    width: 20%
}

.hod-marketing-details .hod-banner .hod-marketing-info {
    float: left;
    text-align: left;
    width: 77%;
    margin-left: 3%
}

.hod-marketing-details .hod-banner .hod-marketing-info h2 {
    margin-top: 0px;
    font-size: 16px
}

.hod-marketing-details .hod-banner .hod-marketing-info ul {
    list-style: none;
    padding: 0;
    margin: 0 0 5px 0
}

.hod-marketing-details .hod-banner .hod-marketing-info ul li span {
    display: inline-block;
    margin-right: 5px
}

.hod-marketing-details .hod-banner .hod-marketing-info .terms-and-conditions {
    display: none
}

.hod-marketing-details .hod-banner .hod-options-separator {
    margin: 10px 0;
    clear: both
}

.hod-marketing-details .hod-banner .hod-options-separator .hod-dividing-line {
    text-decoration: line-through
}

.hod-marketing-details .hod-banner .hod-options-separator .hod-dividing-text {
    padding: 0 8px;
    font-weight: bold
}

.hod-marketing-details .hod-banner .res-edit-options {
    text-align: center
}

.hod-marketing-details .hod-banner .res-edit-options .edit-reservation,
.hod-marketing-details .hod-banner .res-edit-options .keep-looking {
    float: left;
    width: 34%;
    margin: 0 8%
}

.hod-marketing-details .hod-banner .res-edit-options .res-edit-icons {
    margin: 0 auto 10px;
    cursor: pointer
}

.hod-marketing-details .hod-banner .res-edit-options .edit-res,
.hod-marketing-details .hod-banner .res-edit-options .search-location {
    cursor: pointer
}

#hod-banner {
    margin-bottom: 10px;
    clear: both
}

.after-hours-overlay .decision button {
    margin-left: 10px
}

.after-hours-overlay .change {
    display: none
}

.after-hours-overlay input,
.after-hours-overlay select {
    display: inline;
    margin-right: 10px
}

.after-hours-overlay .date {
    background-color: #fff;
    border: 1px solid #ccc;
    height: 16px;
    width: 100px;
    padding: 5px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px
}

.after-hours-overlay select {
    width: auto
}

#iframe-hod {
    border: 0px;
    width: 100%;
    height: 500px
}

#city-specials-banner .city-special-container {
    padding: 15px;
    background-color: #2F8DFF
}

#city-specials-banner .city-special-container .icons {
    float: left;
    display: inline-block
}

#city-specials-banner .city-special-container .banner-info {
    text-align: center
}

#city-specials-banner .city-special-container .banner-content {
    text-align: left;
    float: left;
    width: 80%;
    margin-left: 5%
}

#city-specials-banner .city-special-container .banner-content h2 {
    margin: 0;
    color: #fff;
    font-size: 17px;
    font-weight: bold
}

#city-specials-banner .city-special-container .banner-content h2 .more-info {
    display: none
}

#city-specials-banner .city-special-container .banner-content p {
    color: #fff;
    margin-top: 0;
    font-size: 15px
}

#city-specials-banner .city-special-container #city-specials-btn {
    padding: 3px 10px 1px 5px;
    background-color: #fff;
    color: #4d90cd
}

#city-specials-banner .city-special-container #city-specials-btn span {
    display: inline-block;
    margin-top: 3px
}

#city-specials-banner .city-special-container #city-specials-btn span.buttonTxt {
    vertical-align: top;
    padding: 6px 0 0 5px;
    font-size: 13px;
    margin-top: 0
}

#city-specials-banner .city-special-container #city-specials-btn:hover {
    background-color: #FCF235;
    color: #222
}

.modtouch .city-special-rate button {
    background-image: none
}

#gold-anytime {
    background: #555555;
    color: #fff;
    text-align: center
}

#gold-anytime h3 {
    font-weight: normal;
    font-size: 1.2em
}

#gold-anytime h3 span {
    display: none
}

#gold-anytime hr {
    border-top: 1px solid #fdf11b
}

#gold-anytime .step {
    width: 31%;
    display: inline-block;
    padding-bottom: 10px
}

#gold-anytime .gold-anytime-banner {
    margin: 0px 10px;
    padding: 10px 0px
}

#gold-anytime .gold-anytime-step-heading {
    font-weight: bold;
    text-transform: uppercase
}

#gold-anytime .gold-anytime-step-desc {
    display: none
}

#gold-anytime .icons {
    cursor: pointer
}

#gold-anytime .icons img {
    width: 80%
}

#ga-banner-in-overlay hr {
    border-top: 1px solid #fdf11b
}

.sold-out-msg-in-overlay {
    margin-top: 0
}

.sold-out-msg-in-overlay .vehicle-soldout-friendly-msg {
    border: none
}

.sold-out-msg-in-overlay .vehicle-soldout-friendly-msg .vehicle-info {
    padding: 0
}

.sold-out-msg-in-overlay .vehicle-soldout-friendly-msg .vehicle-info .soldout-msg {
    margin-left: 0;
    float: none;
    width: 100%
}

.lb-content-box #rate-details-content .rd-link-right {
    display: none
}

.lb-content-box .submit-vehicle {
    float: right;
    margin-top: 20px
}

#rental-links {
    margin-top: 10px
}

#rental-links #rental-policy-links {
    background-color: #fff;
    padding: 5px 10px;
    margin-top: 10px
}

#rental-links .hidden-item {
    display: none
}

#rental-links .rental-links-header {
    color: #355ad8;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    margin: 0
}

#rental-links .rental-policy-groups {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #ddd
}

#rental-links .rental-policy-groups:first-child,
#rental-links .rental-policy-groups:last-child {
    border-bottom: none
}

#rental-links .rental-policy-groups li {
    margin: 5px 0
}

#rental-links .expand-collapse-icon {
    margin: 5px 4px 3px 0;
    vertical-align: top;
    display: inline-block
}

#rental-links .icons-arrow-blue-down {
    margin-right: 0
}

#rental-links a {
    display: inline-block;
    width: 91%;
    text-decoration: none;
    cursor: pointer;
    vertical-align: top
}

#rental-links #expand-collapse-rental-links {
    vertical-align: middle
}

#rental-links .divider {
    margin: 10px 0;
    border-top: 1px solid #DADADA
}

#rental-links .rental-links-disclaimer {
    padding-top: 10px;
    font-size: 0.9em
}

#important #rental-links {
    padding: 0
}

#important #rental-links .rental-policy-groups {
    width: auto;
    padding: 0 5px;
    margin-bottom: 0;
    background-color: #fff
}

#important #rental-links .rental-policy-groups li {
    text-decoration: none;
    padding: 0;
    width: 100%
}

#important #rental-links .rental-policy-groups li .expand-collapse-icon {
    display: inline-block;
    margin-top: 4px;
    margin-right: 7px;
    vertical-align: top
}

#important #rental-links .rental-policy-groups li .policy-group {
    display: inline-block;
    width: 92%
}

#important #rental-links .rental-policy-groups li .icons-arrow-blue-down {
    margin-right: 3px
}

#important #rental-links .rental-policy-groups .policy-links {
    background-color: #fff;
    list-style: disc outside none;
    border-bottom: 0
}

#important #rental-links a:hover {
    color: #1f3da1
}

#important #rental-links .rental-links-header {
    font-size: 12px
}

#important .rental-qualifications-link {
    padding: 5px 5px 0
}

.conf-page #rental-links .divider {
    display: none
}

.policy-links {
    padding-left: 30px;
    list-style: disc outside none;
    color: #355ad8
}

.policy-links li {
    margin: 5px 0
}

.policy-links a {
    text-decoration: none
}

.rental-qualifications-link {
    list-style: none;
    margin: 0;
    padding: 0
}

@media only screen and (min-width: 480px) {
    #res-itinerary-1 .divider {
        border-top: 1px solid #ededed
    }
    #res-itinerary-1 .itn-container .itn-same-location {
        width: 50%
    }
    #res-itinerary-1 .itn-container .pickup-location-time,
    #res-itinerary-1 .itn-container .return-location-time,
    #res-itinerary-1 .itn-container .itn-discounts,
    #res-itinerary-1 .itn-container .itn-arrival-info,
    #res-itinerary-1 .itn-container .itn-pickup-return-time .itn-pickup-time,
    #res-itinerary-1 .itn-container .itn-pickup-return-time .itn-return-time {
        float: left;
        width: 45%
    }
    #res-itinerary-1 .itn-container .return-location-time,
    #res-itinerary-1 .itn-container .itn-arrival-info,
    #res-itinerary-1 .itn-container .itn-pickup-return-time .itn-return-time {
        margin-left: 5%
    }
    #res-itinerary-1 .itn-container .itn-pickup-return-time {
        overflow: hidden
    }
    #res-itinerary-1 .itn-container .return-location-time .divider {
        margin-top: 0;
        padding-top: 0
    }
    #res-itinerary-1 .itn-container .itn-pickup-return-time .itn-return-time {
        padding-top: 5px;
        margin-top: 10px;
        border-top: 1px solid #ededed
    }
    #res-itinerary-1 .itn-container .itn-location {
        border: 0
    }
    #res-itinerary-1 .itn-container .itn-age {
        clear: both;
        width: 45%
    }
    #res-itinerary-2 .divider {
        border: none
    }
    #res-itinerary-2 .itn-container .int-loc-tm-info {
        overflow: hidden
    }
    #res-itinerary-2 .itn-container .int-loc-tm-info .itn-location-header {
        width: 100%
    }
    #res-itinerary-2 .itn-container .int-loc-tm-info .pickup-location {
        width: 45%;
        float: left
    }
    #res-itinerary-2 .itn-container .int-loc-tm-info .return-location {
        width: 45%;
        float: left;
        margin-left: 5%
    }
    #res-itinerary-2 .itn-container .int-loc-tm-info .int-loc-cont {
        float: none;
        width: auto
    }
    #res-itinerary-2 .itn-container .int-misc-info {
        padding-top: 3px
    }
    #res-itinerary-2 .itn-container .int-misc-info .itn-discounts,
    #res-itinerary-2 .itn-container .int-misc-info .itn-arrival-info,
    #res-itinerary-2 .itn-container .int-misc-info .itn-age,
    #res-itinerary-2 .itn-container .int-misc-info .itn-return-time,
    #res-itinerary-2 .itn-container .int-misc-info .itn-pickup-time {
        float: left;
        width: 45%;
        margin-bottom: 10px
    }
    #res-itinerary-2 .itn-container .int-misc-info .itn-arrival-info,
    #res-itinerary-2 .itn-container .int-misc-info .itn-return-time {
        margin-left: 5%
    }
    #res-itinerary-2 .itn-edit-cont {
        clear: both
    }
    #rental-links .divider {
        display: none
    }
    #res-vehicles-page .divider {
        border: none
    }
    .vehicles-list-cont img,
    .vehicles-list-cont div.image {
        width: 152px
    }
    .vehicles-list-cont div.image div {
        font-size: 12px
    }
    .vehicles-list-cont figcaption {
        margin-left: 152px
    }
    .vehicles-list-cont div.details {
        margin-left: 27px
    }
    .vehicles-list-cont h1 {
        padding-left: 0px
    }
    .vehicles-list-cont div.unpriced .soldout-cont {
        width: 30%
    }
    #city-specials-banner .city-special-container #city-specials-btn {
        float: right
    }
    #gold-anytime .icons img {
        width: 65%
    }
}

/* EOF */